/*Custom Fonts*/
@import url('https://fonts.googleapis.com/css?family= Francois+One|Oswald|Roboto');

html, body {
        height: 100%;
        margin: 0px;
        background: #FFF;
}



.content{
  /*height: 100vh;*/
  background: #f5f5f5 !important;
  margin-top: 50px;
}

.commonPageName{
  position: absolute;
    font-size: 21px;
    font-weight: 600;
    color: #FFF;
    padding-left: 10px;
    padding-top: 10px;
}

/* ORDER PUNCHING */

/*Default Theme*/

/*profile image*/
#itemImage {
    width: 110px;
    height: 110px;
    background: #1abc9c;
    font-size: 52px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    text-align: center;
    line-height: 110px;
    font-family: 'Roboto';
}


.punchPOS{
  background: #FFF;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.menuListingPOS{
    padding: 0px !important; 
    height: 90vh !important;
    overflow: hidden !important;
    background: #FFF;

}

.menuRenderPlane{
  height: 65vh !important;
  /*overflow: scroll !important;*/
  overflow-y:auto !important;
  overflow-x: none !important;
}

.pickSubMenu{
  position: absolute; 
  bottom: 0;
  background: #FFF;
  min-height: 80px;
  padding: 8px;
  border-top: 1px solid #c3c3c3;

  overflow-y:auto !important;
  overflow-x: none !important;

}

.btn-outline-sub {
    border:1px solid #2c3e50;
    background:0 0;
    color: #2c3e50;
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
}
.btn-outline-sub:active,.btn-outline-sub:focus,.btn-outline-sub:hover{
    color: #16a085;
    border-color:#16a085;
    outline: none !important;
    background: #bed8d3;
}

.activeCatTab{
  background: #16a085;
  color: #FFF;
  border-color:#16a085;
}

.activeCatTab:hover{
  background: #16a085;
  color: #FFF;
}


.punchMenuTitle{
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15px 15px;
  color: #16a085;
 font-family: 'Oswald', sans-serif;
     border-bottom: 1px solid #f5f5f5;
}

.posSubMenuTab{
      background: #222d32;
    height: 60px;
}

.subMenuPickerHideButton{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    padding: 0px 5px 5px 5px;
    border: none;
    font-size: 21px;

}

.subMenuPickerHideButton:active, .subMenuPickerHideButton:hover, .subMenuPickerHideButton:focus{
  outline: none;
}


.dropbtn {
    top: -5px;
    background: #bae3db;
    position: relative;
    color: white;
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.dropbtn:focus{
  outline: none !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 60vh;
    overflow: auto;
}

.dropdown-content a {
    font-size: 21px;
    border-bottom: 1px solid #e2e2e2;
    color: #444;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #1abc9c;
}

.posCartSubHead{
  text-align: center;
  margin: 10px 0 0 0;
  padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}

.pos .contents #item-list .btn-both span{
    background: #16a085 !important;
    color: #FFF;
    font-family: 'Roboto';

}




/*end of theme EOT*/



/*Purple Theme*/
.skin-purple-light #itemImage, .skin-purple #itemImage {
    background: #605ca8;
    color: rgba(255, 255, 255, 0.3);
}

.skin-purple-light .contents #item-list .btn-both span, .skin-purple .contents #item-list .btn-both span{
    background: #4d4992 !important;
    color: #FFF;
}

.skin-purple-light .punchMenuTitle, .skin-purple .punchMenuTitle{
  color: #605ca8;
}


.skin-purple-light .dropbtn, .skin-purple .dropbtn {
  background: #babce3;
}

.skin-purple-light .dropdown:hover .dropbtn, .skin-purple .dropdown:hover .dropbtn {
    background-color: #605ca8;
}

.skin-purple-light .btn-outline-sub:active,.skin-purple-light .btn-outline-sub:focus,.skin-purple-light .btn-outline-sub:hover, .skin-purple .btn-outline-sub:active,.skin-purple .btn-outline-sub:focus,.skin-purple .btn-outline-sub:hover{
    color: #605ca8;
    border-color:#605ca8;
    outline: none !important;
    background: #c7bbd8;
}

.skin-purple-light  .activeCatTab, .skin-purple  .activeCatTab{
  background: #605ca8;
  color: #FFF;
  border-color:#605ca8;
}




/*Yellow Theme*/
.skin-yellow-light #itemImage, .skin-yellow #itemImage {
    background: #f39c12;
    color: rgba(255, 255, 255, 0.3);
}

.skin-yellow-light .contents #item-list .btn-both span, .skin-yellow .contents #item-list .btn-both span{
    background: #e08e0b !important;
    color: #FFF;
}

.skin-yellow-light .punchMenuTitle, .skin-yellow .punchMenuTitle{
  color: #f39c12;
}


.skin-yellow-light .dropbtn, .skin-yellow .dropbtn {
  background: #e3dbba;
}

.skin-yellow-light .dropdown:hover .dropbtn, .skin-yellow .dropdown:hover .dropbtn {
    background-color: #f39c12;
}

.skin-yellow-light .btn-outline-sub:active,.skin-yellow-light .btn-outline-sub:focus,.skin-yellow-light .btn-outline-sub:hover, .skin-yellow .btn-outline-sub:active,.skin-yellow .btn-outline-sub:focus,.skin-yellow .btn-outline-sub:hover{
    color: #f39c12;
    border-color:#f39c12;
    outline: none !important;
    background: #e3dbba;
}

.skin-yellow-light  .activeCatTab, .skin-yellow  .activeCatTab{
  background: #f39c12;
  color: #FFF;
  border-color:#f39c12;
}



/*red Theme*/
.skin-red-light #itemImage, .skin-red #itemImage {
    background: #e25240;
    color: rgba(255, 255, 255, 0.3);
}

.skin-red-light .contents #item-list .btn-both span, .skin-red .contents #item-list .btn-both span{
    background: #c53725 !important;
    color: #FFF;
}

.skin-red-light .punchMenuTitle, .skin-red .punchMenuTitle{
  color: #e25240;
}


.skin-red-light .dropbtn, .skin-red .dropbtn {
  background: #e3baba;
}

.skin-red-light .dropdown:hover .dropbtn, .skin-red .dropdown:hover .dropbtn {
    background-color: #e25240;
}

.skin-red-light .btn-outline-sub:active,.skin-red-light .btn-outline-sub:focus,.skin-red-light .btn-outline-sub:hover, .skin-red .btn-outline-sub:active,.skin-red .btn-outline-sub:focus,.skin-red .btn-outline-sub:hover{
    color: #e25240;
    border-color:#e25240;
    outline: none !important;
    background: #e3baba;
}

.skin-red-light  .activeCatTab, .skin-red  .activeCatTab{
  background: #e25240;
  color: #FFF;
  border-color:#e25240;
}

/*blue Theme*/
.skin-blue-light #itemImage, .skin-blue #itemImage {
    background: #3c8dbc;
    color: rgba(255, 255, 255, 0.3);
}

.skin-blue-light .contents #item-list .btn-both span, .skin-blue .contents #item-list .btn-both span{
    background: #29739e !important;
    color: #FFF;
}

.skin-blue-light .punchMenuTitle, .skin-blue .punchMenuTitle{
  color: #3c8dbc;
}


.skin-blue-light .dropbtn, .skin-blue .dropbtn {
  background: #bad5e3;
}

.skin-blue-light .dropdown:hover .dropbtn, .skin-blue .dropdown:hover .dropbtn {
    background-color: #3c8dbc;
}

.skin-blue-light .btn-outline-sub:active,.skin-blue-light .btn-outline-sub:focus,.skin-blue-light .btn-outline-sub:hover, .skin-blue .btn-outline-sub:active,.skin-blue .btn-outline-sub:focus,.skin-blue .btn-outline-sub:hover{
    color: #3c8dbc;
    border-color:#3c8dbc;
    outline: none !important;
    background: #bad5e3;
}

.skin-blue-light  .activeCatTab, .skin-blue  .activeCatTab{
  background: #3c8dbc;
  color: #FFF;
  border-color:#3c8dbc;
}


.seatingPlanHead{
    font-size: 28px;
    font-weight: 400;
    color: #16a085;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

.skin-blue .seatingPlanHead, .skin-blue-light .seatingPlanHead{
  color: #367fa9;
}

.skin-red .seatingPlanHead, .skin-red-light .seatingPlanHead{
  color: #d73925;
}

.skin-purple .seatingPlanHead, .skin-purple-light .seatingPlanHead{
  color: #555299;
}

.skin-yellow .seatingPlanHead, .skin-yellow-light .seatingPlanHead{
  color: #e08e0b;
}

.tableTileGreen{
	width: 140px; text-align: center; display: inline-block; max-width: 32%; 
	height: 80px; margin: 3px; padding: 5px; background: #2ecc71;
  cursor: pointer;
}

.tableTileGreen:hover, .tableTileGreen:active, .tableTileGreen:focus{
  background: #27ae60;
}

.tableTileRed{
	width: 140px; text-align: center; display: inline-block; max-width: 32%; 
	height: 80px; margin: 3px; padding: 5px;  background: #e74c3c;
  cursor: pointer;
}

.tableTileRed:hover, .tableTileRed:active, .tableTileRed:focus{
  background: #c0392b;
}


.tableTileRedDisable{
  width: 140px; text-align: center; display: inline-block; max-width: 32%; 
  height: 80px; margin: 3px; padding: 5px;  background: #e74c3c;
  cursor: not-allowed;
}

.tableTileYellow{
  width: 140px; text-align: center; display: inline-block; max-width: 32%; 
  height: 80px; margin: 3px; padding: 5px; background: #f39c12;
  cursor: pointer;
}

.tableTileYellow:hover, .tableTileYellow:active, .tableTileYellow:focus{
  background: #e67e22;
}

.tableReserved{
  width: 140px; text-align: center; display: inline-block; max-width: 32%; 
  height: 80px; margin: 3px; padding: 5px; background: #7fbb99 !important;
  cursor: pointer;
}

.tableTileOther{
  width: 140px; text-align: center; display: inline-block; max-width: 32%; 
  height: 80px; margin: 3px; padding: 5px; background: #bdc3c7 !important;
  cursor: not-allowed;
}


.tableTileBlue{
 
    width: 140px; text-align: center; display: inline-block; max-width: 32%; 
  height: 80px; margin: 3px; padding: 5px;  background: #3498db !important;
  cursor: pointer;
}

.tableTitle{
	display: block; color: #FFF; font-weight: 600; font-size: 24px;
      text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tableCapacity{
	display: block; color: #ecf0f5;
      text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tableInfo{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tableTileGreen .tableInfo{
	display: block; color: #497d5f
}

.tableTileRed .tableInfo{
  display: block; color: #9c4540
}

.tableTileYellow .tableInfo{
  display: block; color: #82612e
}

.tableTileRed.selected{
  background: #2980b9 !important;
}

.tableTileRed.selectedExtra{
  background: #3498db !important;
}

.confirmationConsentArea{
    background: none;
    display: none;
    height: 100px;
    width: 100%;
    position: fixed;
    padding-right: 150px;
    bottom: 0;
    margin-left: -15px;
}

.billOptionWindowFrame{
  margin-bottom: 5px;
  border: 2px solid #1abc9c;
  padding: 5px 5px 0 5px;
}

.billOptionWindowFrame .tableOptionsActionButton{
  background: green;
}


.clearButton{
  background: none;     
  color: #d2d6de;
}

.clearButton:hover, .clearButton:active, .clearButton:focus{
	background: none;
	box-shadow: none;
  outline: none !important;
}

.clearButton:focus{
	color: #e74c3c;
}


/* For Sticky Bills */
.kotListing ul,li{
  list-style:none;
}
.kotListing ul{
  overflow:hidden;
  padding:3em;
}
.kotListing ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height: 240px;
  width: 200px;
  padding: 10px;
  overflow: hidden;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.kotListing ul li{
  margin:1em;
  float:left;
}
.kotListing ul li h2{
	margin-top: 5px;
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
.kotListing ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size: 14px;
}
.kotListing ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
.kotListing ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.kotListing ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
.kotListing ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.kotListing ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
.kotListing ol{text-align:center;}
.kotListing ol li{display:inline;padding-right:1em;}
.kotListing ol li a{color:#fff;}

.kotListing .tableName{
	background: #444; color: #fff; border-radius: 30px; padding: 4px 8px; float: right;
}

.kotListing .bottomTag{
	background: rgba(68, 68, 68, 0.4); color: #FFF; width: 100%; position: absolute; bottom: 0; left: 0; padding: 5px;
}

.kotListing .tagSteward{
	padding: 0; margin:0; font-weight: bold; font-size: 14px; text-align: center;
}

.kotListing .tagUpdate{
	font-style: italic; font-size: 12px; text-align: center; margin:0;
}

.kotListing .itemsTag{
	width: 180px;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kotListing .more{
	background: #00a65a;
	color: #FFF;
	font-size: 12px;
	padding: 0px 6px;
	border-radius: 20px; 

    position: fixed;
    bottom: 50px;
    right: 5px;

    font-size: 12px;
    font-weight: bold;

    display: none;
}

.itemList{
    max-height: 140px;
    overflow: hidden;
}
.itemList .price{
	width: 30px;
	text-align: right;
}

.itemList .name{
	width: 150px;
}


/* Edit Menu */
.subMenuList{
  background-color: #f9f9f9;
}

.subMenuList:hover, .subMenuList:active, .subMenuList:focus{
  background-color: #d8d8d8;
}

.notavailTag{
  background: #e74c3c;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  float: right;
  position: relative
}

.availTag{
  background: #2ecc71;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  float: right;
  position: relative
}

.itemPriceTag{
  background: none;
}


/* Sales Summary */
.summaryCount{
  font-size: 11px; 
  color: grey;
}

.summaryLine1{
  color: #6f20ab;
}

.summaryLine2{
  color: #43a3de;
}

.summaryLine3{
  color: #55bd9c;
}

.summaryRowHighlight{
  background: #fdfde4;
}

.summaryRowTitle{
  font-weight: bold;
}



/*rewards*/
.rewardsCount{
  font-size: 48px;
  font-weight: bold;
  color: #3498db;
}

.rewardsRs{
color: #f4f4f4; padding-left: 5px; font-size: 60%; font-weight: 400
}

.rewardsButton{
  width: 100%;
  font-size: 18px;
  color: #FFF;
  text-transform: uppercase;
  height: 60px;
}

.rewardsName{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}



/* Online Delivery */
.deliveryAddress{
  border: 1px solid gray;
    padding: 10px;
}

.deliveryTitle{
      margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #444;
    font-size: 80%;
}

.deliveryText{
  margin: 0;
  color: #000;
}

.deliveryComment{
    margin: 0;
  color: #000;
  font-weight: bold;
}

.onlinePrepaid{
    font-size: 12px;
    float: right;
    margin-left: 10px;
    padding: 4px 6px;
    border: 1px solid #2980b9;
    color: #2980b9;
    font-weight: 600;
    text-transform: uppercase;
}

.onlineCOD{
    font-size: 12px;
    float: right;
    margin-left: 10px;
    padding: 4px 6px;
    border: 1px solid #2ecc71;
    font-weight: 600;
    text-transform: uppercase;
    background: #2ecc71; color: #FFF;
}


.deleteButtonGrey{
  color: #f4f4f4;
  margin-left: 5px; 
  background: none;
      width: 30px;
    height: 25px;
    display: inherit;
}

.deleteButtonGrey:hover, .deleteButtonGrey:active, .deleteButtonGrey:focus{
  color: #e74c3c;
}  

.editButtonGrey{
  color: #f4f4f4;
  margin-left: 15px; 
  background: none;
      width: 30px;
    height: 25px;
    display: inherit;
}

.editButtonGrey:hover, .editButtonGrey:active, .editButtonGrey:focus{
  color: #3498db;
}  




/* TOAST */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10000; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

#infobar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    
    background-color: #c0392b; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10000; /* Add a z-index if needed */
    right: 30px; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

#infobar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* Floating Button */
.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.floaty {
  position: absolute;
  top: 0;
  z-index: 100;
}
.floaty-list {
  margin: 0;
  margin-top: 70px;
  padding: 0 0 0 6px;
  list-style: none;
  opacity: 0;
  transition: opacity .2s ease-out;
}
.floaty:hover .floaty-list {
  opacity: 1;
}
.floaty-list-item {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 15px 0;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,.25);
}
.floaty-list-item > img {
  border-radius: 50%;
}
.floaty-list-item--red {
  background-color: #e74c3c;
}
.floaty-list-item--red > svg {
  fill: #fff;
}
.floaty-list-item--blue {
  background-color: #3498db;
}
.floaty-list-item--blue > svg {
  fill: #fff;
}
.floaty-list-item-label {
  position: absolute;
  top: 8px;
 /* right: 120%;*/
 left: 50px;
  padding: 4px 8px;
  font-size: 14px;
  color: #fff;
  background-color: #424242;
  border-radius: 2px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity .2s ease-out;
}
.floaty-list-item:hover > .floaty-list-item-label {
  opacity: 1;
}
.floaty-btn {
  position: relative;
  width: 56px;
  height: 56px;
  float: right;
  margin-right: 15px;
  cursor: pointer;
  background-color: #00a65a;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,.25);
}
.floaty-btn:hover .floaty-btn-label {
  opacity: 1;
}
.floaty-btn-label {
  position: absolute;
  top: 14px;
 /* right: 115%; */
 left: 66px;
  padding: 4px 8px;
  font-size: 14px;
  color: #fff;
  background-color: #424242;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity .2s ease-out;
}
.floaty-btn-icon {
  transition: all .2s;
}
.floaty-btn-icon-plus {
  /*
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  */
}
.floaty.is-active .floaty-btn-icon-plus {
  opacity: 0;
  -webkit-transform: rotate(13deg);
  transform: rotate(130deg);
}
.floaty-btn-icon-create {
  opacity: 0;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.floaty.is-active .floaty-btn-icon-create {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/*For Choice Modal*/

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 16px;
    padding: 0;
    margin-bottom: 12px;
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rectangle-list a{
    position: relative;
    display: block;
    padding: 10px;
    margin: .5em 0 .5em 2.5em;
    background: #ecf0f1;
    color: #2c3e50;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle-list a:hover{
    background: #bdc3c7;
}

.rectangle-list a:before{
    content: counter(li);
    color: #FFF;
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #27ae60;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: 300;
}

.rectangle-list a:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: #27ae60;
}


/*Punch order - menu*/


/*TWEAK - OVER WRITING*/
.fa-rupee, .fa-inr{
  font-size: 70% !important;
  padding-right: 0.1em !important;
}

.fa-trash-o{
  opacity: 0.2 !important;
}

.fa-trash-o:hover, .fa-trash-o:focus, .fa-trash-o:active{
  opacity: 1 !important;
  color: #e74c3c !important;
}

.product:focus, .product:hover, .product:active{
  outline: none !important;
}



/*bill settings*/
.billSettingsOption{
  width: 100%;
  padding: 15px 10px;
  background: #f9f9f9;
  font-size: 16px;
  margin-bottom: 4px;
  cursor: pointer;
}

.billSettingsOption:hover{
  background: #ccc9c9;
}

.billSettingsOptionIcon{
  float: right;
  background: none;
  opacity: 0;
}


.billSettingsOption:hover .billSettingsOptionIcon{
    background: none;
    opacity: 1;
}
/*

.billSettingsOptionIcon:hover, .billSettingsOptionIcon:focus, .billSettingsOptionIcon:active{
  background: none;
  opacity: 1;
}
*/

.pos #list-table-div{
  height: 30vh !important;
  overflow: scroll;
}

/*Animations*/
@keyframes fadeInOutAnimate{
  0% {
    color: #FFF;
    opacity: 0;
  }
  50%{
    color: #7f8c8d;
  }
  100% {
    opacity: 1;
  }
}

.renderDelayText {
  padding: 20px; font-size: 21px; font-weight: 300;
  opacity: 1;
  color: #7f8c8d;
  animation-name: fadeInOutAnimate;
  animation-duration: 5s;
}


/*
 *  SCROLL BARS
 */

#subMenuSelectionArea::-webkit-scrollbar-track
{
  background-color: #FFF;
}

#subMenuSelectionArea::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

#subMenuSelectionArea::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #34495e;
}


#item-list::-webkit-scrollbar-track
{
  background-color: #FFF;
}

#item-list::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

#item-list::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #3498db;
}


#list-table-div::-webkit-scrollbar-track
{
  background-color: #FFF;
}

#list-table-div::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#list-table-div::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
  background-color: #e74c3c;
}

.extrasSelButton{
    margin-right: 3px;
    cursor: pointer;
    padding: 1px 4px;
    font-size: 12px;
    color: #00bcd4;
    background-color: rgba(255, 255, 255, 0);
    border-color: #00bcd4;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    margin-bottom: 2px;
}

.extrasSelButton:hover, .extrasSelButton:active, .extrasSelButton:focus{
  outline: none;
  background: #00bcd4;
  color: #FFF;
}


/*Cart */

/*Default Theme - GREEN and GREEN LIGHT*/
.cartTitleRow{
  background: #39675e !important;
  color: #d8e2e6 !important;
  font-weight: 400 !important;
}

.cartSumRow{
  background: #39675e !important;
  color: #FFF !important;
  font-weight: bold !important;  
  font-size: 24px;
}

.cartSummaryRow{
  background: #f5f5f5 !important;
  color: #000 !important;
  border-color: #FFF !important;
}

.posCartHead{
    margin: 10px 0;
    text-align: center;
    color: #39675e;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.skin-green .main-header .logo:hover{
    background-color: #11806a
}


/*purple theme*/

.skin-purple .main-header .logo:hover{
    background-color: #413e7d;
}

.skin-purple .cartTitleRow, .skin-purple .cartSumRow{
  background: #666580 !important;
}

.skin-purple .posCartHead{
  color: #666580 !important;
}

.skin-purple .table>tbody>tr.success>td,
.skin-purple .table>tbody>tr.success>th,
.skin-purple .table>tbody>tr>td.success,
.skin-purple .table>tbody>tr>th.success,
.skin-purple .table>tfoot>tr.success>td,
.skin-purple .table>tfoot>tr.success>th,
.skin-purple .table>tfoot>tr>td.success,
.skin-purple .table>tfoot>tr>th.success,
.skin-purple .table>thead>tr.success>td,
.skin-purple .table>thead>tr.success>th,
.skin-purple .table>thead>tr>td.success,
.skin-purple .table>thead>tr>th.success{
    background-color: #e3dcf5
}
.skin-purple .table-hover>tbody>tr.success:hover>td,
.skin-purple .table-hover>tbody>tr.success:hover>th,
.skin-purple .table-hover>tbody>tr:hover>.success,
.skin-purple .table-hover>tbody>tr>td.success:hover,
.skin-purple .table-hover>tbody>tr>th.success:hover{
    background-color: #d4cde6
}


.skin-purple #cartDetails .btn-success{
    background-color: #6e6ab5;
    border-color:#4d4992
}

.skin-purple #cartDetails .btn-success.active,
.skin-purple #cartDetails .btn-success.focus,
.skin-purple #cartDetails .btn-success:active,
.skin-purple #cartDetails .btn-success:focus,
.skin-purple #cartDetails .btn-success:hover,
.skin-purple #cartDetails .open>.dropdown-toggle.btn-success{
    color:#fff;
    background-color:#7975c1;
    border-color:#4d4992
}
.skin-purple #cartDetails .btn-success.active,
.skin-purple #cartDetails .btn-success:active,
.skin-purple #cartDetails .open>.dropdown-toggle.btn-success{
    background-image:none
}

.skin-purple #cartDetails .btn-success.disabled,
.skin-purple #cartDetails .btn-success.disabled.active,
.skin-purple #cartDetails .btn-success.disabled.focus,
.skin-purple #cartDetails .btn-success.disabled:active,
.skin-purple #cartDetails .btn-success.disabled:focus,
.skin-purple #cartDetails .btn-success.disabled:hover,
.skin-purple #cartDetails .btn-success[disabled],
.skin-purple #cartDetails .btn-success[disabled].active,
.skin-purple #cartDetails .btn-success[disabled].focus,
.skin-purple #cartDetails .btn-success[disabled]:active,
.skin-purple #cartDetails .btn-success[disabled]:focus,
.skin-purple #cartDetails .btn-success[disabled]:hover{
    background-color:#5cb85c;
    border-color:#4cae4c
}

.skin-purple-light .main-header .logo:hover{
    background-color: #413e7d;
}

.skin-purple-light .cartTitleRow, .skin-purple-light .cartSumRow{
  background: #666580 !important;
}

.skin-purple-light .posCartHead{
  color: #666580 !important;
}

.skin-purple-light .table>tbody>tr.success>td,
.skin-purple-light .table>tbody>tr.success>th,
.skin-purple-light .table>tbody>tr>td.success,
.skin-purple-light .table>tbody>tr>th.success,
.skin-purple-light .table>tfoot>tr.success>td,
.skin-purple-light .table>tfoot>tr.success>th,
.skin-purple-light .table>tfoot>tr>td.success,
.skin-purple-light .table>tfoot>tr>th.success,
.skin-purple-light .table>thead>tr.success>td,
.skin-purple-light .table>thead>tr.success>th,
.skin-purple-light .table>thead>tr>td.success,
.skin-purple-light .table>thead>tr>th.success{
    background-color: #e3dcf5
}
.skin-purple-light .table-hover>tbody>tr.success:hover>td,
.skin-purple-light .table-hover>tbody>tr.success:hover>th,
.skin-purple-light .table-hover>tbody>tr:hover>.success,
.skin-purple-light .table-hover>tbody>tr>td.success:hover,
.skin-purple-light .table-hover>tbody>tr>th.success:hover{
    background-color: #d4cde6
}


.skin-purple-light #cartDetails .btn-success{
    background-color: #6e6ab5;
    border-color:#4d4992
}

.skin-purple-light #cartDetails .btn-success.active,
.skin-purple-light #cartDetails .btn-success.focus,
.skin-purple-light #cartDetails .btn-success:active,
.skin-purple-light #cartDetails .btn-success:focus,
.skin-purple-light #cartDetails .btn-success:hover,
.skin-purple-light #cartDetails .open>.dropdown-toggle.btn-success{
    color:#fff;
    background-color:#7975c1;
    border-color:#4d4992
}
.skin-purple-light #cartDetails .btn-success.active,
.skin-purple-light #cartDetails .btn-success:active,
.skin-purple-light #cartDetails .open>.dropdown-toggle.btn-success{
    background-image:none
}

.skin-purple-light #cartDetails .btn-success.disabled,
.skin-purple-light #cartDetails .btn-success.disabled.active,
.skin-purple-light #cartDetails .btn-success.disabled.focus,
.skin-purple-light #cartDetails .btn-success.disabled:active,
.skin-purple-light #cartDetails .btn-success.disabled:focus,
.skin-purple-light #cartDetails .btn-success.disabled:hover,
.skin-purple-light #cartDetails .btn-success[disabled],
.skin-purple-light #cartDetails .btn-success[disabled].active,
.skin-purple-light #cartDetails .btn-success[disabled].focus,
.skin-purple-light #cartDetails .btn-success[disabled]:active,
.skin-purple-light #cartDetails .btn-success[disabled]:focus,
.skin-purple-light #cartDetails .btn-success[disabled]:hover{
    background-color:#5cb85c;
    border-color:#4cae4c
}

/*red theme*/

.skin-red .main-header .logo:hover{
    background-color: #b5301f;
}

.skin-red .cartTitleRow, .skin-red .cartSumRow{
  background: #9a655f !important;
}

.skin-red .posCartHead{
  color: #9a655f !important;
}

.skin-red .table>tbody>tr.success>td,
.skin-red .table>tbody>tr.success>th,
.skin-red .table>tbody>tr>td.success,
.skin-red .table>tbody>tr>th.success,
.skin-red .table>tfoot>tr.success>td,
.skin-red .table>tfoot>tr.success>th,
.skin-red .table>tfoot>tr>td.success,
.skin-red .table>tfoot>tr>th.success,
.skin-red .table>thead>tr.success>td,
.skin-red .table>thead>tr.success>th,
.skin-red .table>thead>tr>td.success,
.skin-red .table>thead>tr>th.success{
    background-color: #f2dede
}
.skin-red .table-hover>tbody>tr.success:hover>td,
.skin-red .table-hover>tbody>tr.success:hover>th,
.skin-red .table-hover>tbody>tr:hover>.success,
.skin-red .table-hover>tbody>tr>td.success:hover,
.skin-red .table-hover>tbody>tr>th.success:hover{
    background-color: #ebcccc
}


.skin-red #cartDetails .btn-success{
    background-color:#dd4b39;
    border-color:#d73925
}

.skin-red #cartDetails .btn-success.active,
.skin-red #cartDetails .btn-success.focus,
.skin-red #cartDetails .btn-success:active,
.skin-red #cartDetails .btn-success:focus,
.skin-red #cartDetails .btn-success:hover,
.skin-red #cartDetails .open>.dropdown-toggle.btn-success{
    color:#fff;
    background-color:#c9302c;
    border-color:#ac2925
}
.skin-red #cartDetails .btn-success.active,
.skin-red #cartDetails .btn-success:active,
.skin-red #cartDetails .open>.dropdown-toggle.btn-success{
    background-image:none
}

.skin-red #cartDetails .btn-success.disabled,
.skin-red #cartDetails .btn-success.disabled.active,
.skin-red #cartDetails .btn-success.disabled.focus,
.skin-red #cartDetails .btn-success.disabled:active,
.skin-red #cartDetails .btn-success.disabled:focus,
.skin-red #cartDetails .btn-success.disabled:hover,
.skin-red #cartDetails .btn-success[disabled],
.skin-red #cartDetails .btn-success[disabled].active,
.skin-red #cartDetails .btn-success[disabled].focus,
.skin-red #cartDetails .btn-success[disabled]:active,
.skin-red #cartDetails .btn-success[disabled]:focus,
.skin-red #cartDetails .btn-success[disabled]:hover{
    background-color:#d9534f;
    border-color:#d43f3a
}


.skin-red-light .main-header .logo:hover{
    background-color: #b5301f;
}

.skin-red-light .cartTitleRow, .skin-red-light .cartSumRow{
  background: #9a655f !important;
}

.skin-red-light .posCartHead{
  color: #9a655f !important;
}

.skin-red-light .table>tbody>tr.success>td,
.skin-red-light .table>tbody>tr.success>th,
.skin-red-light .table>tbody>tr>td.success,
.skin-red-light .table>tbody>tr>th.success,
.skin-red-light .table>tfoot>tr.success>td,
.skin-red-light .table>tfoot>tr.success>th,
.skin-red-light .table>tfoot>tr>td.success,
.skin-red-light .table>tfoot>tr>th.success,
.skin-red-light .table>thead>tr.success>td,
.skin-red-light .table>thead>tr.success>th,
.skin-red-light .table>thead>tr>td.success,
.skin-red-light .table>thead>tr>th.success{
    background-color: #f2dede
}
.skin-red-light .table-hover>tbody>tr.success:hover>td,
.skin-red-light .table-hover>tbody>tr.success:hover>th,
.skin-red-light .table-hover>tbody>tr:hover>.success,
.skin-red-light .table-hover>tbody>tr>td.success:hover,
.skin-red-light .table-hover>tbody>tr>th.success:hover{
    background-color: #ebcccc
}


.skin-red-light #cartDetails .btn-success{
    background-color:#dd4b39;
    border-color:#d73925
}

.skin-red-light #cartDetails .btn-success.active,
.skin-red-light #cartDetails .btn-success.focus,
.skin-red-light #cartDetails .btn-success:active,
.skin-red-light #cartDetails .btn-success:focus,
.skin-red-light #cartDetails .btn-success:hover,
.skin-red-light #cartDetails .open>.dropdown-toggle.btn-success{
    color:#fff;
    background-color:#c9302c;
    border-color:#ac2925
}
.skin-red-light #cartDetails .btn-success.active,
.skin-red-light #cartDetails .btn-success:active,
.skin-red-light #cartDetails .open>.dropdown-toggle.btn-success{
    background-image:none
}

.skin-red-light #cartDetails .btn-success.disabled,
.skin-red-light #cartDetails .btn-success.disabled.active,
.skin-red-light #cartDetails .btn-success.disabled.focus,
.skin-red-light #cartDetails .btn-success.disabled:active,
.skin-red-light #cartDetails .btn-success.disabled:focus,
.skin-red-light #cartDetails .btn-success.disabled:hover,
.skin-red-light #cartDetails .btn-success[disabled],
.skin-red-light #cartDetails .btn-success[disabled].active,
.skin-red-light #cartDetails .btn-success[disabled].focus,
.skin-red-light #cartDetails .btn-success[disabled]:active,
.skin-red-light #cartDetails .btn-success[disabled]:focus,
.skin-red-light #cartDetails .btn-success[disabled]:hover{
    background-color:#d9534f;
    border-color:#d43f3a
}

/*blue theme*/

.skin-blue .main-header .logo:hover{
    background-color: #2c6c90;
}

.skin-blue .cartTitleRow, .skin-blue .cartSumRow{
  background: #317890 !important;
}

.skin-blue .posCartHead{
  color: #317890 !important;
}

.skin-blue .table>tbody>tr.success>td,
.skin-blue .table>tbody>tr.success>th,
.skin-blue .table>tbody>tr>td.success,
.skin-blue .table>tbody>tr>th.success,
.skin-blue .table>tfoot>tr.success>td,
.skin-blue .table>tfoot>tr.success>th,
.skin-blue .table>tfoot>tr>td.success,
.skin-blue .table>tfoot>tr>th.success,
.skin-blue .table>thead>tr.success>td,
.skin-blue .table>thead>tr.success>th,
.skin-blue .table>thead>tr>td.success,
.skin-blue .table>thead>tr>th.success{
    background-color: #d9edf7
}
.skin-blue .table-hover>tbody>tr.success:hover>td,
.skin-blue .table-hover>tbody>tr.success:hover>th,
.skin-blue .table-hover>tbody>tr:hover>.success,
.skin-blue .table-hover>tbody>tr>td.success:hover,
.skin-blue .table-hover>tbody>tr>th.success:hover{
    background-color: #c4e3f3
}


.skin-blue #cartDetails .btn-success{
    background-color: #00c0ef;
    border-color:#00acd6;
}

.skin-blue #cartDetails .btn-success.active,
.skin-blue #cartDetails .btn-success.focus,
.skin-blue #cartDetails .btn-success:active,
.skin-blue #cartDetails .btn-success:focus,
.skin-blue #cartDetails .btn-success:hover,
.skin-blue #cartDetails .open>.dropdown-toggle.btn-success{
    color:#fff;
    background-color:#31b0d5;
    border-color:#269abc;
}
.skin-blue #cartDetails .btn-success.active,
.skin-blue #cartDetails .btn-success:active,
.skin-blue #cartDetails .open>.dropdown-toggle.btn-success{
    background-image:none
}

.skin-blue #cartDetails .btn-success.disabled,
.skin-blue #cartDetails .btn-success.disabled.active,
.skin-blue #cartDetails .btn-success.disabled.focus,
.skin-blue #cartDetails .btn-success.disabled:active,
.skin-blue #cartDetails .btn-success.disabled:focus,
.skin-blue #cartDetails .btn-success.disabled:hover,
.skin-blue #cartDetails .btn-success[disabled],
.skin-blue #cartDetails .btn-success[disabled].active,
.skin-blue #cartDetails .btn-success[disabled].focus,
.skin-blue #cartDetails .btn-success[disabled]:active,
.skin-blue #cartDetails .btn-success[disabled]:focus,
.skin-blue #cartDetails .btn-success[disabled]:hover{
    background-color:#5bc0de;
    border-color:#46b8da
}


.skin-blue-light .main-header .logo:hover{
    background-color: #2c6c90;
}

.skin-blue-light .cartTitleRow, .skin-blue-light .cartSumRow{
  background: #317890 !important;
}

.skin-blue-light .posCartHead{
  color: #317890 !important;
}

.skin-blue-light .table>tbody>tr.success>td,
.skin-blue-light .table>tbody>tr.success>th,
.skin-blue-light .table>tbody>tr>td.success,
.skin-blue-light .table>tbody>tr>th.success,
.skin-blue-light .table>tfoot>tr.success>td,
.skin-blue-light .table>tfoot>tr.success>th,
.skin-blue-light .table>tfoot>tr>td.success,
.skin-blue-light .table>tfoot>tr>th.success,
.skin-blue-light .table>thead>tr.success>td,
.skin-blue-light .table>thead>tr.success>th,
.skin-blue-light .table>thead>tr>td.success,
.skin-blue-light .table>thead>tr>th.success{
    background-color: #d9edf7
}
.skin-blue-light .table-hover>tbody>tr.success:hover>td,
.skin-blue-light .table-hover>tbody>tr.success:hover>th,
.skin-blue-light .table-hover>tbody>tr:hover>.success,
.skin-blue-light .table-hover>tbody>tr>td.success:hover,
.skin-blue-light .table-hover>tbody>tr>th.success:hover{
    background-color: #c4e3f3
}


.skin-blue-light #cartDetails .btn-success{
    background-color: #00c0ef;
    border-color:#00acd6;
}

.skin-blue-light #cartDetails .btn-success.active,
.skin-blue-light #cartDetails .btn-success.focus,
.skin-blue-light #cartDetails .btn-success:active,
.skin-blue-light #cartDetails .btn-success:focus,
.skin-blue-light #cartDetails .btn-success:hover,
.skin-blue-light #cartDetails .open>.dropdown-toggle.btn-success{
    color:#fff;
    background-color:#31b0d5;
    border-color:#269abc;
}
.skin-blue-light #cartDetails .btn-success.active,
.skin-blue-light #cartDetails .btn-success:active,
.skin-blue-light #cartDetails .open>.dropdown-toggle.btn-success{
    background-image:none
}

.skin-blue-light #cartDetails .btn-success.disabled,
.skin-blue-light #cartDetails .btn-success.disabled.active,
.skin-blue-light #cartDetails .btn-success.disabled.focus,
.skin-blue-light #cartDetails .btn-success.disabled:active,
.skin-blue-light #cartDetails .btn-success.disabled:focus,
.skin-blue-light #cartDetails .btn-success.disabled:hover,
.skin-blue-light #cartDetails .btn-success[disabled],
.skin-blue-light #cartDetails .btn-success[disabled].active,
.skin-blue-light #cartDetails .btn-success[disabled].focus,
.skin-blue-light #cartDetails .btn-success[disabled]:active,
.skin-blue-light #cartDetails .btn-success[disabled]:focus,
.skin-blue-light #cartDetails .btn-success[disabled]:hover{
    background-color:#5bc0de;
    border-color:#46b8da
}




/*yellow theme*/

.skin-yellow .main-header .logo:hover{
    background-color: #c17a09;
}

.skin-yellow .cartTitleRow, .skin-yellow .cartSumRow{
  background: #c7934d !important;
}

.skin-yellow .posCartHead{
  color: #c7934d !important;
}

.skin-yellow .table>tbody>tr.success>td,
.skin-yellow .table>tbody>tr.success>th,
.skin-yellow .table>tbody>tr>td.success,
.skin-yellow .table>tbody>tr>th.success,
.skin-yellow .table>tfoot>tr.success>td,
.skin-yellow .table>tfoot>tr.success>th,
.skin-yellow .table>tfoot>tr>td.success,
.skin-yellow .table>tfoot>tr>th.success,
.skin-yellow .table>thead>tr.success>td,
.skin-yellow .table>thead>tr.success>th,
.skin-yellow .table>thead>tr>td.success,
.skin-yellow .table>thead>tr>th.success{
    background-color: #fcf8e3
}
.skin-yellow .table-hover>tbody>tr.success:hover>td,
.skin-yellow .table-hover>tbody>tr.success:hover>th,
.skin-yellow .table-hover>tbody>tr:hover>.success,
.skin-yellow .table-hover>tbody>tr>td.success:hover,
.skin-yellow .table-hover>tbody>tr>th.success:hover{
    background-color: #faf2cc
}


.skin-yellow #cartDetails .btn-success{
    background-color:#f39c12;
    border-color:#e08e0b
}

.skin-yellow #cartDetails .btn-success.active,
.skin-yellow #cartDetails .btn-success.focus,
.skin-yellow #cartDetails .btn-success:active,
.skin-yellow #cartDetails .btn-success:focus,
.skin-yellow #cartDetails .btn-success:hover,
.skin-yellow #cartDetails .open>.dropdown-toggle.btn-success{
    color:#fff;
    background-color:#ec971f;
    border-color:#d58512
}
.skin-yellow #cartDetails .btn-success.active,
.skin-yellow #cartDetails .btn-success:active,
.skin-yellow #cartDetails .open>.dropdown-toggle.btn-success{
    background-image:none
}

.skin-yellow #cartDetails .btn-success.disabled,
.skin-yellow #cartDetails .btn-success.disabled.active,
.skin-yellow #cartDetails .btn-success.disabled.focus,
.skin-yellow #cartDetails .btn-success.disabled:active,
.skin-yellow #cartDetails .btn-success.disabled:focus,
.skin-yellow #cartDetails .btn-success.disabled:hover,
.skin-yellow #cartDetails .btn-success[disabled],
.skin-yellow #cartDetails .btn-success[disabled].active,
.skin-yellow #cartDetails .btn-success[disabled].focus,
.skin-yellow #cartDetails .btn-success[disabled]:active,
.skin-yellow #cartDetails .btn-success[disabled]:focus,
.skin-yellow #cartDetails .btn-success[disabled]:hover{
    background-color:#f0ad4e;
    border-color:#eea236
}


.skin-yellow-light .main-header .logo:hover{
    background-color: #c17a09;
}

.skin-yellow-light .cartTitleRow, .skin-yellow-light .cartSumRow{
  background: #c7934d !important;
}

.skin-yellow-light .posCartHead{
  color: #c7934d !important;
}

.skin-yellow-light .table>tbody>tr.success>td,
.skin-yellow-light .table>tbody>tr.success>th,
.skin-yellow-light .table>tbody>tr>td.success,
.skin-yellow-light .table>tbody>tr>th.success,
.skin-yellow-light .table>tfoot>tr.success>td,
.skin-yellow-light .table>tfoot>tr.success>th,
.skin-yellow-light .table>tfoot>tr>td.success,
.skin-yellow-light .table>tfoot>tr>th.success,
.skin-yellow-light .table>thead>tr.success>td,
.skin-yellow-light .table>thead>tr.success>th,
.skin-yellow-light .table>thead>tr>td.success,
.skin-yellow-light .table>thead>tr>th.success{
    background-color: #fcf8e3
}
.skin-yellow-light .table-hover>tbody>tr.success:hover>td,
.skin-yellow-light .table-hover>tbody>tr.success:hover>th,
.skin-yellow-light .table-hover>tbody>tr:hover>.success,
.skin-yellow-light .table-hover>tbody>tr>td.success:hover,
.skin-yellow-light .table-hover>tbody>tr>th.success:hover{
    background-color: #faf2cc
}


.skin-yellow-light #cartDetails .btn-success{
    background-color:#f39c12;
    border-color:#e08e0b
}

.skin-yellow-light #cartDetails .btn-success.active,
.skin-yellow-light #cartDetails .btn-success.focus,
.skin-yellow-light #cartDetails .btn-success:active,
.skin-yellow-light #cartDetails .btn-success:focus,
.skin-yellow-light #cartDetails .btn-success:hover,
.skin-yellow-light #cartDetails .open>.dropdown-toggle.btn-success{
    color:#fff;
    background-color:#ec971f;
    border-color:#d58512
}
.skin-yellow-light #cartDetails .btn-success.active,
.skin-yellow-light #cartDetails .btn-success:active,
.skin-yellow-light #cartDetails .open>.dropdown-toggle.btn-success{
    background-image:none
}

.skin-yellow-light #cartDetails .btn-success.disabled,
.skin-yellow-light #cartDetails .btn-success.disabled.active,
.skin-yellow-light #cartDetails .btn-success.disabled.focus,
.skin-yellow-light #cartDetails .btn-success.disabled:active,
.skin-yellow-light #cartDetails .btn-success.disabled:focus,
.skin-yellow-light #cartDetails .btn-success.disabled:hover,
.skin-yellow-light #cartDetails .btn-success[disabled],
.skin-yellow-light #cartDetails .btn-success[disabled].active,
.skin-yellow-light #cartDetails .btn-success[disabled].focus,
.skin-yellow-light #cartDetails .btn-success[disabled]:active,
.skin-yellow-light #cartDetails .btn-success[disabled]:focus,
.skin-yellow-light #cartDetails .btn-success[disabled]:hover{
    background-color:#f0ad4e;
    border-color:#eea236
}

/*Other Page Common Themes*/
/* BOX BORDER TOP*/
.skin-yellow .box.box-primary, .skin-yellow-light .box.box-primary{
    border-top-color:#f39c12
}
.skin-blue .box.box-primary, .skin-blue-light .box.box-primary{
    border-top-color: #3c8dbc
}
.skin-red .box.box-primary, .skin-red-light .box.box-primary{
    border-top-color:#dd4b39
}
.skin-green .box.box-primary, .skin-green-light .box.box-primary{
    border-top-color:#1abc9c
}
.skin-purple .box.box-primary, .skin-purple-light .box.box-primary{
    border-top-color:#605ca8
}

/*BIG NUMBER*/

.skin-yellow .rewardsCount, .skin-yellow-light .rewardsCount{
    color:#f39c12
}
.skin-blue .rewardsCount, .skin-blue-light .rewardsCount{
    color: #3c8dbc
}
.skin-red .rewardsCount, .skin-red-light .rewardsCount{
    color:#dd4b39
}
.skin-green .rewardsCount, .skin-green-light .rewardsCount{
    color:#1abc9c
}
.skin-purple .rewardsCount, .skin-purple-light .rewardsCount{
    color:#605ca8
}


.tableOptionsButton{
  width: 100%;
  font-size: 18px;
  margin-bottom: 5px;
}

.tableOptionsButtonBig{
  width: 100%;
  font-size: 18px;
  min-height: 60px;
  margin-bottom: 5px;
}


.tableOptionsHeader{
      margin: 0 0 5px 0;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}


.cartCustomerLabel{
      margin-bottom: 3px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #bdbdbd;
}


.deliveryAddressWithRows {
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
    border: none;
    resize: none;
}




/*Search in Menu page*/
.menuSuggestionSubMenu{
    font-size: 12px;
    background: #596a7d;
    padding: 3px 6px 3px 6px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    width: 100%;
    margin: 0;
}

.ui-menu .ui-menu-item:hover, 
.ui-menu .ui-menu-item:active, 
.ui-menu .ui-menu-item:focus,
.ui-menu .ui-menu-item.selected{
    background: #dff0d8 !important;
    outline: none !important;
}

.searchResultsHolder{
  position: absolute;
}

/*.skin-blue .menuSuggestionSubMenu,
.skin-blue-light .menuSuggestionSubMenu{
  background: #3c8dbc;
}*/

.skin-blue .ui-menu .ui-menu-item:hover, 
.skin-blue .ui-menu .ui-menu-item:active, 
.skin-blue .ui-menu .ui-menu-item:focus,
.skin-blue .ui-menu .ui-menu-item.selected,
.skin-blue-light .ui-menu .ui-menu-item:hover, 
.skin-blue-light .ui-menu .ui-menu-item:active, 
.skin-blue-light .ui-menu .ui-menu-item:focus,
.skin-blue-light .ui-menu .ui-menu-item.selected{
    background: #d9edf7 !important;
    outline: none !important;
}

/*.skin-red .menuSuggestionSubMenu,
.skin-red-light .menuSuggestionSubMenu{
  background: #3c8dbc;
}*/

.skin-red .ui-menu .ui-menu-item:hover, 
.skin-red .ui-menu .ui-menu-item:active, 
.skin-red .ui-menu .ui-menu-item:focus,
.skin-red .ui-menu .ui-menu-item.selected,
.skin-red-light .ui-menu .ui-menu-item:hover, 
.skin-red-light .ui-menu .ui-menu-item:active, 
.skin-red-light .ui-menu .ui-menu-item:focus,
.skin-red-light .ui-menu .ui-menu-item.selected{
    background: #f2dede !important;
    outline: none !important;
}

/*.skin-purple .menuSuggestionSubMenu,
.skin-purple-light .menuSuggestionSubMenu{
  background: #605ca8;
}*/

.skin-purple .ui-menu .ui-menu-item:hover, 
.skin-purple .ui-menu .ui-menu-item:active, 
.skin-purple .ui-menu .ui-menu-item:focus,
.skin-purple .ui-menu .ui-menu-item.selected,
.skin-purple-light .ui-menu .ui-menu-item:hover, 
.skin-purple-light .ui-menu .ui-menu-item:active, 
.skin-purple-light .ui-menu .ui-menu-item:focus,
.skin-purple-light .ui-menu .ui-menu-item.selected{
    background: #e3dcf5 !important;
    outline: none !important;
}

/*.skin-yellow .menuSuggestionSubMenu,
.skin-yellow-light .menuSuggestionSubMenu{
  background: #f39c12;
}
*/
.skin-yellow .ui-menu .ui-menu-item:hover, 
.skin-yellow .ui-menu .ui-menu-item:active, 
.skin-yellow .ui-menu .ui-menu-item:focus,
.skin-yellow .ui-menu .ui-menu-item.selected,
.skin-yellow-light .ui-menu .ui-menu-item:hover, 
.skin-yellow-light .ui-menu .ui-menu-item:active, 
.skin-yellow-light .ui-menu .ui-menu-item:focus,
.skin-yellow-light .ui-menu .ui-menu-item.selected{
    background: #fcf8e3 !important;
    outline: none !important;
}


.serverStatus{
  color: #2aea45
}

.skin-red .serverStatus, .skin-red-light .serverStatus{
  color: #248431
}

.skin-yellow .serverStatus, .skin-yellow-light .serverStatus{
  color: #2e9c3e
}

.serverStatusRed{
  color: #b94034
}

.skin-blue .serverStatusRed, .skin-blue-light .serverStatusRed{
  color: #a5382d
}

.skin-purple .serverStatusRed, .skin-purple-light .serverStatusRed{
  color: #e25244
}

.skin-red .serverStatusRed, .skin-red-light .serverStatusRed{
  color: #8e190e
}

.skin-yellow .serverStatusRed, .skin-yellow-light .serverStatusRed{
  color: #d24132
}


/*Login*/
/* Main */

  #main {
    position: relative;
    max-width: 27em;
    min-width: 27em;
    padding: 4.5em 3em 3em 3em ;
    background: #ffffff;
    border-radius: 4px;
    cursor: default;
    opacity: 0.95;
    text-align: center;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
  }

    #main .avatar {
      position: relative;
      display: block;
      margin-bottom: 1.5em;
    }

      #main .avatar img {
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        box-shadow: 0 0 0 1.5em #ffffff;
        border: none;
      }

      #main .avatar:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: -3em;
        width: calc(100% + 6em);
        height: 1px;
        z-index: -1;
        background: #c8cccf;
      }

.loginWindowInput{
  border: none; border-bottom: 1px solid #f3f3f3; 
  text-align: center; font-size: 16px; height: 40px;  
  font-weight: 300; text-transform: uppercase;
}

.loginWindowButton{
     width: 100%;
    height: 40px;
    border-radius: 0;
    font-size: 16px;
    margin-bottom: 5px; 
}

/*preloader*/
#preloader { 
  position: fixed; left: 0; top: 0; 
  z-index: 100001; width: 100%; height: 100%; 
  overflow: visible; 
  background: rgba(255, 0, 0, 0) url('https://zaitoon.online/assets/images/common/ripple.svg') no-repeat center center; 
}

/*inactivity screen*/
#inactivity{
   position: fixed; left: 0; top: 0; 
  z-index: 100001; width: 100%; height: 100%; 
  overflow: visible; 
    background-image: url("https://zaitoon.online/login/images/pattern.jpg");
    background-repeat: repeat;
}


.track {
    position: absolute;
    top: 40%;
    left: 50%;
    animation: trackAnimate 160s infinite;
}

.left {
  float:left;
}

.albumArt {
  background-color: #FFF;
  height: 120px;
  width: 120px;
  margin-right:10px;
  border-radius: 5px; 
  padding: 5px;
}


@keyframes trackAnimate {
  0% {
     transform: translate(-100%, -100%);
  }
  10% {
     transform: translate(100%, 100%);
  }
  20% {
     transform: translate(-100%, 100%);
  }
  30% {
     transform: translate(100%, -100%);
  }
  40% {
     transform: translate(-100%, -100%);
  }
  50% {
     transform: translate(100%, 100%);
  }
  60% {
     transform: translate(100%, -100%);
  }
  70% {
     transform: translate(-100%, 100%);
  }
  80% {
     transform: translate(-100%, -100%);
  }
  90% {
     transform: translate(100%, -100%);
  }
  100% {
     transform: translate(100%, 100%);
  }
}

.screensaverTitle{
  color: #FFF; font-size: 32px; margin-left: 10px; font-family: 'Roboto';
}

.screensaverSubTitle {
margin: 0; margin-left: 10px; font-size: 20px; color: #e4e4e4;  
}

.screensaverTimer {
margin: 0; margin-left: 10px; font-size: 15px; color: #e4e4e4;  
}


/*inactivity lock*/
#inactivityLock{
   position: fixed; left: 0; top: 0; 
  z-index: 2000; width: 100%; height: 100%; 
  overflow: visible; 
    background-image: url("../data/photos/brand/pattern.jpg");
    background-repeat: repeat;
}


/* Wrapper */

  #wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    min-height: 100%;
    padding: 1.5em;
    z-index: 2;
  }

    #wrapper > * {
      z-index: 1;
    }

    #wrapper:before {
      content: '';
      display: block;
    }

  #mainLock {
    position: relative;
    max-width: 27em;
    min-width: 27em;
    padding: 4.5em 3em 3em 3em ;
    background: #ffffff;
    border-radius: 4px;
    cursor: default;
    opacity: 0.95;
    text-align: center;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
  }

    #mainLock .avatar {
      position: relative;
      display: block;
      margin-bottom: 1.5em;
    }

      #mainLock .avatar img {
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        box-shadow: 0 0 0 1.5em #ffffff;
        border: none;
      }

      #mainLock .avatar:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: -3em;
        width: calc(100% + 6em);
        height: 1px;
        z-index: -1;
        background: #c8cccf;
      }

      .lockScreenInput{
        border: solid 1px #c8cccf; 
        width: 100%;
        height: 50px; text-align: center; font-size: 18px; border-radius: 4px;
        margin-bottom: 20px;
      }

      .lockScreenInput:focus, .lockScreenInput:active, .lockScreenInput:hover{
        border-color: #c0392b;
        outline: none;
      }


/*Theme Choose Buttons*/
.themeGreenDark{
  display: block;
  background-color: #222d32;
  background-image: -webkit-linear-gradient(150deg, #222d32 35%, #1abc9c 35%);
  height: 40px;
}

.themeGreenLight{
  display: block;
  background-color: #f9fafc;
  background-image: -webkit-linear-gradient(150deg, #f9fafc 35%, #1abc9c 35%);
  height: 40px;
}


.themeBlueDark{
  display: block;
  background-color: #222d32;
  background-image: -webkit-linear-gradient(150deg, #222d32 35%, #3c8dbc 35%);
  height: 40px;
}

.themeBlueLight{
  display: block;
  background-color: #f9fafc;
  background-image: -webkit-linear-gradient(150deg, #f9fafc 35%, #3c8dbc 35%);
  height: 40px;
}


.themeRedDark{
  display: block;
  background-color: #222d32;
  background-image: -webkit-linear-gradient(150deg, #222d32 35%, #dd4b39 35%);
  height: 40px;
}

.themeRedLight{
  display: block;
  background-color: #f9fafc;
  background-image: -webkit-linear-gradient(150deg, #f9fafc 35%, #dd4b39 35%);
  height: 40px;
}

.themePurpleDark{
  display: block;
  background-color: #222d32;
  background-image: -webkit-linear-gradient(150deg, #222d32 35%, #605ca8 35%);
  height: 40px;
}

.themePurpleLight{
  display: block;
  background-color: #f9fafc;
  background-image: -webkit-linear-gradient(150deg, #f9fafc 35%, #605ca8 35%);
  height: 40px;
}

.themeYellowDark{
  display: block;
  background-color: #222d32;
  background-image: -webkit-linear-gradient(150deg, #222d32 35%, #f39c12 35%);
  height: 40px;
}

.themeYellowLight{
  display: block;
  background-color: #f9fafc;
  background-image: -webkit-linear-gradient(150deg, #f9fafc 35%, #f39c12 35%);
  height: 40px;
}




.themeSelectionButton{
  cursor: pointer;
}

.themeSelectionButton:hover, .themeSelectionButton:active, .themeSelectionButton:focus{
  color: #1d75a9;
}

.themeSelectionTitle{
  margin: 0; padding: 5px 0;
  font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
}
