<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title id="clientName">Jafry's Kitchen</title>

    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" />

</head>

<body class="skin-green sidebar-mini pos sidebar-collapse">
    <div class="wrapper rtl rtl-inv">
        <header class="main-header">
            <a href="#" class="logo" onclick="activateSidebar()">
                <span class="logo-mini"><i class="fa fa-bars"></i></span>
                <span class="logo-lg">Jafry's Kitchen</span>
            </a>

            <nav class="navbar navbar-static-top" role="navigation">
                <page class="commonPageName">Sales Summary</page>
                
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="#"><i class="fa fa-clock"></i> 01:09:12 PM</a></li>
                        <li><a href="#">Live Orders</a></li>
                        <li><a href="#">Today's Sales</a></li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="images/default_user.png" class="user-image" alt="Avatar" />
                                <span>Anas Jafry</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </nav>

        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="mm_welcome"><a href="index.html"><i class="fa fa-plus"></i> <span>New Order</span></a></li>
                    <li class="mm_pos"><a href="liveorders.html"><i class="fa fa-retweet"></i> <span>Live Orders</span></a></li>

                    <li class="mm_pos"><a href="onlineorders.html"><i class="fa fa-globe"></i> <span>Online Orders</span></a></li>
                    <li class="mm_pos"><a href="settledbills.html"><i class="fa fa-check"></i> <span>Settled Bills</span></a></li>
                    <li class="mm_pos"><a href="seatingstatus.html"><i class="fa fa-th"></i> <span>Seating Status</span></a></li>
                    <li class="mm_pos"><a href="rewardpoints.html"><i class="fa fa-gift"></i> <span>Reward Points</span></a></li>
                    <li id="sidebarTools" class="treeview mm_products" onclick="activateSidebarElement('sidebarTools')">
                        <a href="#">
                            <i class="fa fa-wrench"></i>
                            <span>Tools</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="products_index"><a href="salessummary.html"><i class="fa fa-circle-o"></i> Sales Summary</a></li>
                            <li id="products_index"><a href="menu.html"><i class="fa fa-circle-o"></i> Edit Menu</a></li>
                        </ul>
                    </li>

                    <li id="sidebarSettings" class="treeview mm_products" onclick="activateSidebarElement('sidebarSettings')">
                        <a href="#">
                            <i class="fa fa-cog"></i>
                            <span>Settings</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="products_index"><a href="tablelayout.html"><i class="fa fa-circle-o"></i> Table Layout</a></li>
                            <li id="products_index"><a href="billsettings.html"><i class="fa fa-circle-o"></i> Bill Settings</a></li>
                            <li id="products_index"><a href="usersettings.html"><i class="fa fa-circle-o"></i> Users Settings</a></li>
                        </ul>
                    </li>

                </ul>
            </section>
        </aside>
        <div class="content-wrapper" style="height: 1300px">
           

           <section class="content">
               <div class="row">
                  <div class="col-xs-8">
                     <div class="box box-primary">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Online Orders Summary</h3>
                           </div>
                           <div class="table-responsive">
                              <table class="table" style="margin: 0">
                                 <tbody>
                                    <tr class="summaryRowTitle">
                                       <td>Type</td>
                                       <td class="summaryLine1">Prepaid</td>
                                       <td class="summaryLine2">COD</td>
                                       <td class="summaryLine3">All Orders</td>
                                    </tr>
                                    <tr>
                                       <td>Online Delivery</td>
                                       <td class="summaryLine1"><i class="fa fa-inr"></i> 1200<br><count class="summaryCount">8 Orders</count></td>
                                       <td class="summaryLine2"><i class="fa fa-inr"></i> 400<br><count class="summaryCount">3 Orders</count></td>
                                       <td class="summaryLine3"><i class="fa fa-inr"></i> 1600<br><count class="summaryCount">11 Orders</count></td>
                                    </tr>    
                                    <tr>
                                       <td>Online Takeaway</td>
                                       <td class="summaryLine1"><i class="fa fa-inr"></i> 200<br><count class="summaryCount">1 Orders</count></td>
                                       <td class="summaryLine2">-<br><count class="summaryCount"></count></td>
                                       <td class="summaryLine3"><i class="fa fa-inr"></i> 200<br><count class="summaryCount">1 Orders</count></td>
                                    </tr>  
                                    <tr class="summaryRowHighlight">
                                       <td>Over All</td>
                                       <td class="summaryLine1"><i class="fa fa-inr"></i> 1400<br><count class="summaryCount">9 Orders</count></td>
                                       <td class="summaryLine2"><i class="fa fa-inr"></i> 400<br><count class="summaryCount">3 Orders</count></td>
                                       <td class="summaryLine3"><i class="fa fa-inr"></i> 1800<br><count class="summaryCount">12 Orders</count></td>
                                    </tr>                                                                                                        
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>



                     <div class="box box-primary">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Restaurant Orders Summary - by Channel</h3>
                           </div>
                           <div class="table-responsive">
                              <table class="table" style="margin: 0">
                                 <tbody>
                                    <tr class="summaryRowTitle">
                                       <td>Channel</td>
                                       <td class="summaryLine1">Total</td>
                                    </tr>
                                    <tr>
                                       <td>Walk In</td>
                                       <td class="summaryLine1"><i class="fa fa-inr"></i> 1200<br><count class="summaryCount">34 Orders</count></td>
                                    </tr>    
                                    <tr>
                                       <td>Zomato Call</td>
                                       <td class="summaryLine1"><i class="fa fa-inr"></i> 200<br><count class="summaryCount">14 Orders</count></td>
                                    </tr>  
                                     <tr>
                                       <td>Delivery (Swiggy)</td>
                                       <td class="summaryLine1"><i class="fa fa-inr"></i> 200<br><count class="summaryCount">6 Orders</count></td>
                                    </tr>   
                                     <tr>
                                       <td>Delivery (Zomato)</td>
                                       <td class="summaryLine1"><i class="fa fa-inr"></i> 200<br><count class="summaryCount">2 Orders</count></td>
                                    </tr>                                                                         
                                    <tr class="summaryRowHighlight">
                                       <td>Over All</td>
                                       <td class="summaryLine1"><i class="fa fa-inr"></i> 1400<br><count class="summaryCount">9 Orders</count></td>
                                    </tr>                                                                                                        
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>


                     <div class="box box-primary">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">All Orders Summary - by Payment Mode</h3>
                           </div>
                           <div class="table-responsive">
                              <table class="table" style="margin: 0">
                                 <tbody>
                                    <tr class="summaryRowTitle">
                                       <td>Mode of Payment</td>
                                       <td class="summaryLine3">Amount</td>
                                    </tr>
                                    <tr>
                                       <td>Cash</td>
                                       <td class="summaryLine3"><i class="fa fa-inr"></i> 1200<br><count class="summaryCount">34 Orders</count></td>
                                    </tr>    
                                    <tr>
                                       <td>Card</td>
                                       <td class="summaryLine3"><i class="fa fa-inr"></i> 200<br><count class="summaryCount">14 Orders</count></td>
                                    </tr>                                                                           
                                    <tr class="summaryRowHighlight">
                                       <td>Grand Sum</td>
                                       <td class="summaryLine3"><i class="fa fa-inr"></i> 1400<br><count class="summaryCount">48 Orders</count></td>
                                    </tr>                                                                                                        
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>




                  </div>
                  

                  <div class="col-xs-4">
                     <div class="box box-primary">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Reports</h3>
                           </div>
                           <div class="col-lg-12" style="padding: 0">
                               <div class="row">
                                  <div class="col-sm-5">
                                     <label style="font-size: 10px">FROM DATE</label><br>
                                     <input type="date" id="reportFromDate" style="border: none; border-bottom: 1px solid">
                                  </div>
                                  <div class="col-sm-5"  style="margin-left: 20px">
                                     <label style="font-size: 10px">TO DATE</label><br>
                                     <input type="date" id="reportToDate" style="border: none; border-bottom: 1px solid">
                                  </div>
                               </div>
                            
                               <div class="row" style="margin-top: 20px">
                                  <div class="col-sm-12">
                                <button class="btn-warning btn btn-block" style="text-transform: none; text-align: left" ng-click="generateReport('SALES')"><i class="fa fa-download" style="padding-right: 10px"></i> Restaurant Sales Report</button>
                                  </div>
                               </div>
                               <div class="row" style="margin-top: 10px">
                                  <div class="col-sm-12">
                                <button class="btn-warning btn btn-block" style="text-transform: none; text-align: left" ng-click="generateReport('ONLINE')"><i class="fa fa-download" style="padding-right: 10px"></i> Online Sales Report</button>
                                  </div>
                               </div>
                               <div class="row" style="margin-top: 10px">
                                  <div class="col-sm-12">
                                <button class="btn-warning btn btn-block" style="text-transform: none; text-align: left" ng-click="generateReport('DISCOUNT')"><i class="fa fa-download" style="padding-right: 10px"></i> Discounted Sales Report</button>
                                  </div>
                               </div>

                           </div>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>


        </div>
    </div>


      <script type="text/javascript" src="js/layoutFunctions.js"></script>
      <script type="text/javascript" src="js/controllers/salessummary.js"></script>

</body>

</html>