<template class="task-template">

        <div class="row">

            <div class="col-xs-2">
                <div class="box box-primary">
                    <div class="box-body" style="padding: 4px 4px 0px 4px">
                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="padding: 5px 0px 5px 5px; font-size: 21px;"><i class="fa fa-cog"></i> Settings</h3>
                        
                        </div>

                        <div class="billSettingsOption" onclick="openBillSettings('billingExtras')"> Taxes & Other Extras <tag class="billSettingsOptionIcon"><i class="fa fa-angle-right"></i></tag></div>
                        <div class="billSettingsOption" onclick="openBillSettings('billingModes')"> Billing Modes <tag class="billSettingsOptionIcon"><i class="fa fa-angle-right"></i></tag></div>
                        <div class="billSettingsOption" onclick="openBillSettings('paymentModes')"> Payment Modes <tag class="billSettingsOptionIcon"><i class="fa fa-angle-right"></i></tag></div>

                        
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6" id="detailsDisplayBillSettings">

                <!-- Payment Modes -->
                <div class="box box-primary" style="display: none" id="paymentModes">
                    <div class="box-body">
                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Payment Modes</h3>
                           <button class="btn btn-success btn-sm" id="openNewPaymentModeButton" onclick="openNewPaymentMode()"  style="float: right">Add New</button>
                        </div>

                        <div class="table-responsive">
                            <table id="paymentModesTable" class="table">

                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <!-- Billing Modes -->
                <div class="box box-primary" style="display: none" id="billingModes">
                    <div class="box-body">
                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Billing Modes</h3>
                           <button class="btn btn-success btn-sm" id="openNewModeButton" onclick="openNewMode()"  style="float: right">Add New</button>
                        </div>

                        <div class="table-responsive">
                            <table id="billingModesTable" class="table">

                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>


                <!-- Billing Extras -->
                <div class="box box-primary" style="display: none" id="billingExtras">
                    <div class="box-body">
                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Billing Extras</h3>
                           <button class="btn btn-success btn-sm" id="openNewBillButton" onclick="openNewBill()"  style="float: right">Add New</button>
                        </div>

                        <div class="table-responsive">
                            <table id="billingParamsTable" class="table">

                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>



            </div>


            <div class="col-xs-4" id="detailsNewBillSettings">
                
               <!-- Payment Modes : Actions -->
                <div style="display: none" id="newPaymentModeArea">
                     <div class="box box-primary">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 10px; font-size: 21px;">Add New Payment Mode</h3>
                           </div>
                           <div class="col-lg-12">
                              <form>
                                 <div class="form-group">
                                    <label for="first_name">Name</label> <input type="text" value="" class="form-control tip" id="add_new_payment_name" required="required" />
                                 </div>                                 
 
                                <div class="form-group">
                                    <label for="first_name">Code</label> <input type="text" value="" class="form-control tip" id="add_new_payment_code" required="required" />
                                 </div>                                 


                                 <div class="form-group">
                                    <input style="float: right" onclick="addPaymentMode()" value="Add Mode" class="btn btn-primary" />

                                    <button type="button" class="btn btn-default" onclick="hideNewPaymentMode()" >Cancel</button>


                                 </div>
                              </form>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                    </div>
                </div>


                <!-- Billing Modes : Actions -->
                <div style="display: none" id="newModeArea">
                     <div class="box box-primary">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 10px; font-size: 21px;">Add New Billing Mode</h3>
                           </div>
                           <div class="col-lg-12">
                              <form>
                                 <div class="form-group">
                                    <label for="first_name">Name</label> <input type="text" value="" class="form-control tip" id="add_new_mode_name" required="required" />
                                 </div>                                 

                                 <div class="form-group">
                                    <label for="group">Type</label> 
                                    <select name="group" id="add_new_mode_type" class="form-control input-tip select2" style="width:100%;">
                                       <option value="DINE" selected="selected">Dine In or Table Service</option>
                                       <option value="PARCEL">Parcel or Self Service</option>
                                    </select>
                                 </div>

                                 <div class="form-group">
                                    <label for="value">Applicable Extras</label> <input type="text" value="Choose from below" class="form-control tip" id="add_new_mode_extras" required="required" disabled/>
                                 </div>
                                 <div class="form-group">
                                    <label for="first_name">Min. Bill Amount</label> <input type="number" value="0" class="form-control tip" id="add_new_mode_minBill" required="required" />
                                 </div>     
                                 <div class="form-group">
                                    <label for="group">Is Discountable?</label> 
                                    <select name="group" id="add_new_mode_discountable" class="form-control input-tip select2" style="width:100%;">
                                       <option value="YES" selected="selected">Yes</option>
                                       <option value="NO">No</option>
                                    </select>
                                 </div>

                                 <div class="form-group">
                                    <label for="first_name">Max. Discount Amount</label> <input type="number" value="2000" class="form-control tip" id="add_new_mode_maxDisc" required="required" />
                                 </div>     

                                 <div class="form-group">
                                    <input style="float: right" onclick="addMode()" value="Add Mode" class="btn btn-primary" />

                                    <button type="button" class="btn btn-default" onclick="hideNewMode()" >Cancel</button>


                                 </div>
                              </form>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                    </div>
                </div>


                <!-- Billing Extras : Actions -->
                <div style="display: none" id="newBillArea">
                     <div class="box box-primary">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 10px; font-size: 21px;">Add Billing Parameter</h3>
                           </div>
                           <div class="col-lg-12">
                              <form>
                                 <div class="form-group">
                                    <label for="first_name">Name</label> <input type="text" value="" class="form-control tip" id="add_new_param_name" required="required" />
                                 </div>                                 
                                 <div class="form-group">
                                    <label for="group">Is Compulsary?</label> 
                                    <select name="group" id="add_new_param_compulsary" class="form-control input-tip select2" style="width:100%;">
                                       <option value="YES" selected="selected">Yes</option>
                                       <option value="NO">No</option>
                                    </select>
                                 </div>

                                 <div class="form-group">
                                    <label for="value">Value</label> <input type="number" value="0.00" class="form-control tip" id="add_new_param_value" required="required" />
                                 </div>
                                 <div class="form-group">
                                    <label for="unit">Unit</label> 
                                    <select name="unit" id="add_new_param_unit" class="form-control input-tip select2" style="width:100%;">
                                       <option value="PERCENTAGE" selected="selected">Percentage (%)</option>
                                       <option value="FIXED">Fixed Amount (Rs)</option>
                                    </select>
                                 </div>

                                 <div class="form-group">
                                    <input style="float: right" onclick="addParameter()" value="Add Parameter" class="btn btn-primary" />

                                    <button type="button" class="btn btn-default" onclick="hideNewBill()" >Cancel</button>


                                 </div>
                              </form>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                    </div>
                </div>



                  </div>
               </div>


        
        </div>





      <!-- Modal -->
      <div id="settingsDeleteConfirmation" class="modal">
         <div class="modal-dialog" style="top: 20%">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body" style="max-height: 420px; overflow: scroll; padding: 30px 15px">
                <p style="font-size: 16px; margin: 0; color: #e74c3c;" id="settingsDeleteConfirmationText"></P>
               </div>
               <div class="modal-footer" id="settingsDeleteConfirmationConsent">
               </div>
            </div>
         </div>
      </div>



</template>