<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title id="clientName">Jafry's Kitchen</title>

    <link href="../css/styles.css" rel="stylesheet" type="text/css" />
    <link href="../css/custom.css" rel="stylesheet" type="text/css" />

</head>

<body class="skin-green sidebar-mini pos sidebar-collapse">
    <div class="wrapper rtl rtl-inv">
        <header class="main-header">
            <a href="#" class="logo" onclick="activateSidebar()">
                <span class="logo-mini"><i class="fa fa-bars"></i></span>
                <span class="logo-lg">Jafry's Kitchen</span>
            </a>

            <nav class="navbar navbar-static-top" role="navigation">
                <page class="commonPageName">Bill Settings</page>
                
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="#"><i class="fa fa-clock"></i> 01:09:12 PM</a></li>
                        <li><a href="#">Live Orders</a></li>
                        <li><a href="#">Today's Sales</a></li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../images/default_user.png" class="user-image" alt="Avatar" />
                                <span>Anas Jafry</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </nav>

        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="mm_welcome"><a href="index.html"><i class="fa fa-plus"></i> <span>New Order</span></a></li>
                    <li class="mm_pos"><a href="liveorders.html"><i class="fa fa-retweet"></i> <span>Live Orders</span></a></li>

                    <li class="mm_pos"><a href="onlineorders.html"><i class="fa fa-globe"></i> <span>Online Orders</span></a></li>
                    <li class="mm_pos"><a href="settledbills.html"><i class="fa fa-check"></i> <span>Settled Bills</span></a></li>
                    <li class="mm_pos"><a href="seatingstatus.html"><i class="fa fa-th"></i> <span>Seating Status</span></a></li>
                    <li class="mm_pos"><a href="rewardpoints.html"><i class="fa fa-gift"></i> <span>Reward Points</span></a></li>
                    <li id="sidebarTools" class="treeview mm_products" onclick="activateSidebarElement('sidebarTools')">
                        <a href="#">
                            <i class="fa fa-wrench"></i>
                            <span>Tools</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="products_index"><a href="salessummary.html"><i class="fa fa-circle-o"></i> Sales Summary</a></li>
                            <li id="products_index"><a href="menu.html"><i class="fa fa-circle-o"></i> Edit Menu</a></li>
                        </ul>
                    </li>

                    <li id="sidebarSettings" class="treeview mm_products" onclick="activateSidebarElement('sidebarSettings')">
                        <a href="#">
                            <i class="fa fa-cog"></i>
                            <span>Settings</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="products_index"><a href="tablelayout.html"><i class="fa fa-circle-o"></i> Table Layout</a></li>
                            <li id="products_index"><a href="billsettings.html"><i class="fa fa-circle-o"></i> Bill Settings</a></li>
                            <li id="products_index"><a href="usersettings.html"><i class="fa fa-circle-o"></i> Users Settings</a></li>
                        </ul>
                    </li>

                </ul>
            </section>
        </aside>

<div class="content-wrapper" style="height: 1000px">

    <section class="content">
        <div class="row">
            <div class="col-xs-6">
                <div class="box box-primary">

                    <div class="box-body">
                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Billing Extras</h3>
                           <button class="btn btn-success btn-sm" id="openNewBillButton" onclick="openNewBill()"  style="float: right">Add New</button>
                        </div>

                        <div class="table-responsive">
                            <table id="StData" class="table">
                                <thead style="background: #f4f4f4;">
                                    <tr>
                                        <th style="text-align: left"></th>
                                        <th style="text-align: left">Name</th>
                                        <th style="text-align: left">Value</th>
                                        <th style="text-align: left">Unit</th>
                                        <th style="text-align: left">Compulsary</th>
                                        <th style="text-align: left"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                <tr role="row">
                                    <td>#1</td>
                                    <td>Service Charge</td>
                                    <td>50.0</td>
                                    <td>Fixed Amount (<i class="fa fa-inr"></i>)</td>
                                    <td>No</td>
                                    <td>
                                            <i class="fa fa-trash-o"></i>
                                    </td>

                                </tr>

                                <tr role="row">
                                    <td>#2</td>
                                    <td>SGST</td>
                                    <td>5.00</td>
                                    <td>Percentage (%)</td>
                                    <td>Yes</td>
                                    <td>
                                            <i class="fa fa-trash-o"></i>
                                    </td>

                                </tr>

                                </tbody>


                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>


            <div class="col-xs-4" style="display: none" id="newBillArea">
                     <div class="box box-primary">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Add Billing Parameter</h3>
                           </div>
                           <div class="col-lg-12">
                              <form action="" method="post" accept-charset="utf-8">
                                 <div class="form-group">
                                    <label for="first_name">Name</label> <input type="text" name="first_name" value="" class="form-control tip" id="first_name" required="required" />
                                 </div>                                 
                                 <div class="form-group">
                                    <label for="group">Is Compulsary?</label> 
                                    <select name="group" id="group" data-placeholder="Select Group" class="form-control input-tip select2" style="width:100%;">
                                       <option value="YES" selected="selected">Yes</option>
                                       <option value="NO">No</option>
                                    </select>
                                 </div>

                                 <div class="form-group">
                                    <label for="phone">Value</label> <input type="text" name="phone" value="0.00" class="form-control tip" id="phone" required="required" />
                                 </div>
                                 <div class="form-group">
                                    <label for="group">Unit</label> 
                                    <select name="group" id="group" data-placeholder="Select Group" class="form-control input-tip select2" style="width:100%;">
                                       <option value="PERCENTAGE" selected="selected">Percentage (%)</option>
                                       <option value="FIXED">Fixed Amount (Rs)</option>
                                    </select>
                                 </div>

                                 <div class="form-group">
                                    <input type="submit" style="float: right" name="add_user" value="Add Parameter" class="btn btn-primary" />

                                    <button type="button" class="btn btn-default" onclick="hideNewBill()" >Cancel</button>


                                 </div>
                              </form>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
               </div>


        
        </div>
    </section>
</div>

    </div>


      <script type="text/javascript" src="../js/layoutFunctions.js"></script>
      <script type="text/javascript" src="../js/controllers/billsettings.js"></script>


</body>

</html>