<template class="task-template">
<div class="row">
   <div class="col-xs-12 kotListing">
      <ul id="fullKOT">
        
      </ul>
   </div>
</div>

        <!-- MODAL -->
        <div id="overWriteCurrentOrderModal" class="modal">
             <div class="modal-dialog" style="top: 20%;">
				<div class="modal-content">
	               <div class="modal-body" style="max-height: 420px; overflow: scroll">
	                <p style="font-size: 16px; margin: 0; color: #e74c3c;">There is a new order being punched. Please complete it to continue.<br><br>Or, Proceed if you are sure about over writing it to edit this order?</p>
	               </div>
	               <div class="modal-footer" id="overWriteCurrentOrderModalConsent">
	               </div>

	            </div>
             </div>
          </div>

</template>
