<template class="task-template">
        
   <div class="row">
      <div class="col-sm-4">

         <div id="pos">
            <form>
            
               <div class="well well-sm punchPOS" id="leftdiv" style="padding: 2px 2px 8px 2px">
                  <div id="lefttop" style="margin-bottom:5px;">

                        <h1 class="posCartHead">New Order</h1>
                        <hr style="margin-top: 0">

                        <h2 class="posCartSubHead">Customer Details</h2>
                        <div style="padding: 0 6px" id="orderCustomerInfo"></div>

                        <h2 class="posCartSubHead" style="margin-top: 20px">Order Cart</h2>

                     <div class="form-group" style="margin-bottom:5px; margin-right: 6px; margin-left: 6px">
                        <input type="text" name="code" id="add_item_by_search" class="form-control ui-autocomplete-input" placeholder="Search item by name or short code"/>

                        <div id="searchResultsRenderArea" class="searchResultsHolder">

                        </div>
                     </div>
                  </div>
               
                  <div class="fixed-table-container">
                     <div style="padding: 0px 6px !important">
                        <table class="table table-striped table-condensed table-hover list-table" style="margin:0px; z-index: 2;">
                           <col width="10%"> 
                           <col width="40%">
                           <col width="15%">
                           <col width="20%">
                           <col width="15%">
                                                     
                           <thead id="cartTitleHead">
                           </thead>
                        </table>
                     </div>
                     <div id="list-table-div" style="padding-left: 6px !important; overflow-x: hidden">
                        <table class="table table-striped table-condensed table-hover list-table" style="margin:0px;">
                           <col width="10%">
                           <col width="40%">
                           <col width="15%">
                           <col width="20%">
                           <col width="15%">
                           <tbody id="cartDetails">
                           </tbody>
                        </table>
                     </div>

                     <div style="clear:both;"></div>
                     <div id="summaryDisplay" style="margin-right: 6px; margin-left: 6px">
                     </div>
                  </div>


               </div>
            </form>
                  

                  <div id="cartButtons" class="col-xs-12 text-center">
                     <div class="row">
                        <div class="col-xs-4" style="padding: 0;">
                           <div class="btn-group-vertical btn-block">
                              <button type="button" style="margin-bottom: 4px" class="btn btn-warning btn-block btn-flat" id="suspend">Hold</button>
                              <button type="button" class="btn btn-danger btn-block btn-flat" id="reset">Cancel</button>
                           </div>
                        </div>
                        <div class="col-xs-4" style="padding: 0 4px;">
                           <div class="btn-group-vertical btn-block">
                              <button type="button" style="margin-bottom: 4px; height:71px; background: #2980b9 !important" class="btn bg-purple btn-block btn-flat" onclick="generateKOT()">Print KOT</button>
                           </div>
                        </div>
                        <div class="col-xs-4" style="padding: 0;">
                           <button type="button" class="btn btn-success btn-block btn-flat" id="payment" style="height:71px;">Print Bill</button>
                        </div>
                     </div>
                  </div>



         </div>


      </div>
      <div class="col-sm-8">

         <div class="contents menuListingPOS" id="fullRightPanel">
            <h1 class="punchMenuTitle"><tag id="posSubMenuTitle">...</tag>

               <div class="dropdown">
                 <button class="dropbtn"><i class="fa fa-angle-down"></i></button>
                 <div class="dropdown-content" id="posSubMenuDropdown">

                 </div>
               </div>

            </h1>
            <div id="item-list" class="menuRenderPlane">
               <p class="renderDelayText">Oops! Rendering Menu is unusually taking time.</p>
            </div>
         
            <div class="pickSubMenu" id="subMenuSelectionArea">
            </div>

         </div>



      </div>
   </div>


      <!-- Modal -->
      <div id="clearCartConsentModal" class="modal">
         <div class="modal-dialog" style="top: 20%">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body" style="max-height: 420px; overflow: scroll; padding: 30px 15px">
                <p style="font-size: 16px; margin: 0; color: #e74c3c;">The order <b>will not</b> get Cancelled when you Clear the Cart. Order remains until you Cancel it separately. <br><br>Do you want to Clear the Cart?</p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" onclick="hideClearCartModal()" style="float: left">Cancel</button>
                  <button type="button" class="btn btn-danger" onclick="clearCart()">Clear the Cart</button>
               </div>
            </div>
         </div>
      </div>


   <!-- Modal -->
   <div id="customiseItemModal" class="modal">
      <div class="modal-dialog" style="top: 20%">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" onclick="hideCustomiseItem()" style="float: right;" class="btn clearButton">X</button>
               <h4 class="modal-title" id="customiseItemTitle">Choose an Option</h4>
            </div>
            <div class="modal-body" style="max-height: 420px; overflow: scroll">
               <div class="row">
                  <div class="col-lg-12" id="customOptionsList">
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="hideCustomiseItem()" style="float: left">Cancel</button>
            </div>
         </div>
      </div>
   </div>


   <!-- Modal -->
   <div id="pickTableForNewOrderModal" class="modal">
      <div class="modal-dialog" style="top: 10%; width: 80%">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" onclick="pickTableForNewOrderHide()" style="float: right;" class="btn clearButton">X</button>
               <h4 class="modal-title">Choose a Table</h4>
            </div>
            <div class="modal-body" style="max-height: 70vh; overflow: scroll;" id="pickTableForNewOrderModalContent">
            </div>
            <div class="modal-footer" style="padding: 0">
               <button type="button" class="btn btn-default" onclick="pickTableForNewOrderHide()" style="width: 100%; border: none; border-radius: 0; height: 50px;">Cancel</button>
            </div>
         </div>
      </div>
   </div>


   <!-- Modal -->
   <div id="pickAddressForNewOrderModal" class="modal">
      <div class="modal-dialog" style="top: 20%">
         <!-- Modal content-->
         <div class="modal-content">

            <div class="modal-body" style="max-height: 420px; overflow: scroll;" id="pickAddressForNewOrderModalContent">
                  <h1 style="margin: 10px 0; font-size: 21px; font-weight: 400; padding-left: 10px">Delivery Address</h1>

                     <div class="row">
                        <div class="col-lg-12">
                           <div class="form-group">
                              <textarea value="" placeholder="Enter Delivery Address" class="form-control tip deliveryAddressWithRows" id="delivery_address_parcel" rows="4" required="required" /></textarea>
                           </div>
                        </div>
                     </div>


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="pickAddressForNewOrderHide()" style="float: left">Cancel</button>
               <button type="button" class="btn btn-success" onclick="saveNewDeliveryAddress()" style="float: right">Set Address</button>
            </div>
         </div>
      </div>
   </div>




   <!-- Modal -->
   <div id="itemWiseCommentsModal" class="modal">
      <div class="modal-dialog" style="top: 20%">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-body" style="max-height: 420px; overflow: scroll;" id="pickAddressForNewOrderModalContent">

                     <div class="row">
                        <div class="col-lg-12">
                                 <div class="form-group">
                                    <label style="margin: 0 0 10px 0; font-size: 21px; font-weight: 300;" id="itemWiseCommentsModalTitle"></label>
                                    <input type="text" value="" class="form-control tip" id="add_item_wise_comment" style="border: none; border-bottom: 1px solid; font-size: 18px; padding: 6px 0px;" placeholder="Add any Comment" required="required" />
                                 </div>                                 
                        </div>
                     </div>

                     <p style="margin: 0; font-size: 14px; font-weight: 400; margin-bottom: 5px; color: #969696;">Suggestions:</p>
                     <div id="savedCommentsSuggestions"></div>


            </div>
            <div class="modal-footer" id="itemWiseCommentsModalActions">

            </div>
         </div>
      </div>
   </div>

</template>