<template class="task-template">

               <div class="row">
                  <div class="col-xs-4">
                     <div class="box box-primary">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Categories</h3>
                           </div>
                           <div class="table-responsive" style="max-height: 80vh">
                              <table class="table" style="margin: 0">
                                 <tbody id="categoryAreaPhotos">                                                                  
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  

                  <div class="col-xs-8" style="display: none" id="menuDetailsAreaPhotos"> 
                     <h1 class="punchMenuTitle" style="padding: 0 0 10px 0;"><tag id="posSubMenuTitle">...</tag></h1>
                     <div class="contents" style="padding-top: 0; max-height: 80vh; overflow: auto">
                        <div id="item-list">
                           <p class="renderDelayText">Oops! Rendering Menu is unusually taking time.</p>
                        </div>
                     </div>
                  </div>
               </div>

    <!-- Modal -->
      <div id="photoOptionsModal" class="modal">
         <div class="modal-dialog" style="top: 20%">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body" id="photoOptionsModalContent" style="max-height: 420px; overflow: scroll; padding: 10px 10px 5px 10px">
              
               </div>
            </div>
         </div>
      </div>


    <!-- Modal -->
    <div class="modal" id="photoCropperModal" style="display: none">
      <div class="modal-dialog" style="top: 10%">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="font-size: 18px" id="photoEditModalTitle">Choose Photo</h5>
          </div>
          <div class="modal-body"  style="height: 540px; overflow: scroll;">

            <div style="padding:5px 10px; background:#00ad2d; border:1px solid #00ad2d; position:relative; color:#fff; border-radius:2px; text-align:center; float:left; cursor:pointer">Select an Image<input type="file" id="itemPhotoFileInput" style="position: absolute; z-index: 1000; opacity: 0; cursor: pointer; right: 0; top: 0; height: 100%; font-size: 24px; width: 100%;"/></div>

            <p style="margin-top: 50px">Upload High Quality image only. Use minimum 180px x 180px resolution. Only JPG, PNG files supported.</p>

            <div class="img-container" id="uploadedItemImageContainer" style="display: none; height: 400px !important">
              <img id="uploadedItemImage" src="" alt="Picture">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="hidePhotoCropper()" style="float: left">Cancel</button>
            <button type="button" id="cropUploadedImageButton" class="btn btn-success">Save</button>
          </div>
        </div>
      </div>
    </div>
               





</template>