<template class="task-template">

                           <div class="row">
                              <div class="col-sm-3"></div>
                              <div class="col-sm-6">
                                 <div class="input-group" style="padding: 10px; border: none;">
                                    <input type="text" id="rewardsSearchInput" class="form-control input-lg" style="text-align: center" value="9043960876" placeholder="Coupon or Voucher or Mobile Number">
                                    <span class="input-group-btn">
                                    <button onclick="findUser()" class="btn btn-default btn-lg" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                 </div>
                              </div>
                           </div>


            <div class="row" style="margin-top: 50px">
                <div class="col-xs-1"></div>
                <div class="col-xs-3">
                    <div id="renderAreaUserInfo"></div>
                </div>

                <div class="col-xs-7">
                    <div id="renderAreaUserStats"></div>
                </div>
            </div>

    </template>