 <template class="task-template">

   <div class="col-lg-12" style="text-align: center;">
        <tag onclick="viewKOTModal()" class="tableTileRed">
            <tag class="tableTitle">T1</tag>
            <tag class="tableCapacity">Jafry + 1</tag>
            <tag class="tableInfo">Billed 4s ago</tag>
        </tag>


        <tag onclick="viewKOTModal()" class="tableTileGreen">
            <tag class="tableTitle">T1</tag>
            <tag class="tableCapacity">4 Seater</tag>
            <tag class="tableInfo">Billed 4s ago</tag>
        </tag>


    </div>
</template>
