 <template class="task-template">
    <div id="fullSeatingRenderArea"></div>

     

    <!-- Modal -->
      <div id="freeSeatOptionsModal" class="modal">
         <div class="modal-dialog" style="top: 20%">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body" id="freeSeatOptionsModalContent" style="max-height: 420px; overflow: scroll; padding: 10px 10px 5px 10px">
           
               </div>
            </div>
         </div>
      </div>

    <!-- Modal -->
      <div id="reservedSeatOptionsModal" class="modal">
         <div class="modal-dialog" style="top: 20%">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body" id="reservedSeatOptionsModalContent" style="max-height: 420px; overflow: scroll; padding: 10px 10px 5px 10px">
           
               </div>
            </div>
         </div>
      </div>


    <!-- Modal -->
      <div id="occuppiedSeatOptionsModal" class="modal">
         <div class="modal-dialog" style="top: 20%">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body" id="occuppiedSeatOptionsModalContent" style="max-height: 420px; overflow: scroll; padding: 10px 10px 5px 10px">
              
               </div>
            </div>
         </div>
      </div>




</template>
