<template class="task-template">

        <div class="row">

            <div class="col-xs-2">
                <div class="box box-primary">
                    <div class="box-body" style="padding: 4px 4px 0px 4px">
                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="padding: 5px 0px 5px 5px; font-size: 21px;"><i class="fa fa-cog"></i> Settings</h3>
                        
                        </div>

                        <div class="billSettingsOption" onclick="openOtherSettings('dineSessions')"> Dine Sessions <tag class="billSettingsOptionIcon"><i class="fa fa-angle-right"></i></tag></div>
                        <div class="billSettingsOption" onclick="openOtherSettings('savedComments')"> Saved Comments <tag class="billSettingsOptionIcon"><i class="fa fa-angle-right"></i></tag></div>
                        <div class="billSettingsOption" onclick="openOtherSettings('keyboardShortcuts')"> Custom Shortcuts <tag class="billSettingsOptionIcon"><i class="fa fa-angle-right"></i></tag></div>
                        <div class="billSettingsOption" onclick="openOtherSettings('personalOptions')"> Personalisation Options<tag class="billSettingsOptionIcon"><i class="fa fa-angle-right"></i></tag></div>
                        <div class="billSettingsOption" onclick="openOtherSettings('systemSettings')"> System Settings<tag class="billSettingsOptionIcon"><i class="fa fa-angle-right"></i></tag></div>
                        <div class="billSettingsOption" onclick="openOtherSettings('resetOptions')"> Reset Options<tag class="billSettingsOptionIcon"><i class="fa fa-angle-right"></i></tag></div>
                        
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6" id="detailsDisplayOtherSettings">

                <!-- Saved Comments -->
                <div class="box box-primary" style="display: none" id="savedComments">
                    <div class="box-body">
                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Saved Comments</h3>
                           <button class="btn btn-success btn-sm" id="openNewSavedCommentButton" onclick="openNewSavedComment()"  style="float: right">Add New</button>
                        </div>

                        <div style="padding-top: 15px" id="savedCommentsInfo">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>


                <!-- Dine Sessions -->
                <div class="box box-primary" style="display: none" id="dineSessions">
                    <div class="box-body">
                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Dine Sessions</h3>
                           <button class="btn btn-success btn-sm" id="openNewSessionButton" onclick="openNewDineSession()"  style="float: right">Add New</button>
                        </div>

                        <div class="table-responsive">
                            <table id="dineSessionsTable" class="table">

                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>


                <!-- Personalisation Options -->
                <div class="box box-primary" style="display: none" id="personalOptions">
                    <div class="box-body">
                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Personalisations</h3>
                        </div>
                        <table style="width: 100%">
                          <col width="40%">
                          <col width="60%">
                          <tr>
                            <td style="vertical-align: middle; font-weight: bold;">Theme</td>
                            <td style="padding-top:10px">
                                <div class="form-group">
                                   <div class="row" style="height: 80px; overflow: hidden">
                                      <div class="col-sm-3 themeSelectionButton" onclick="changePersonalisationTheme('skin-blue')">
                                        <tag class="themeBlueDark"></tag>
                                        <p class="themeSelectionTitle" id="title_skin-blue">Blue Dark</p>
                                      </div>
                                      <div class="col-sm-3 themeSelectionButton" onclick="changePersonalisationTheme('skin-blue-light')">
                                        <tag class="themeBlueLight"></tag>
                                        <p class="themeSelectionTitle" id="title_skin-blue-light">Blue Light</p>
                                      </div>
                                      <div class="col-sm-3 themeSelectionButton" onclick="changePersonalisationTheme('skin-green')">
                                        <tag class="themeGreenDark"></tag>
                                        <p class="themeSelectionTitle" id="title_skin-green">Green Dark</p>
                                      </div>
                                      <div class="col-sm-3 themeSelectionButton" onclick="changePersonalisationTheme('skin-green-light')">
                                        <tag class="themeGreenLight"></tag>
                                        <p class="themeSelectionTitle" id="title_skin-green-light">Green Light</p>
                                      </div>
                                   </div>
                                   <div class="row" style="height: 80px; overflow: hidden">
                                      <div class="col-sm-3 themeSelectionButton" onclick="changePersonalisationTheme('skin-purple')">
                                        <tag class="themePurpleDark"></tag>
                                        <p class="themeSelectionTitle" id="title_skin-purple">Purple Dark</p>
                                      </div>
                                      <div class="col-sm-3 themeSelectionButton" onclick="changePersonalisationTheme('skin-purple-light')">
                                        <tag class="themePurpleLight"></tag>
                                        <p class="themeSelectionTitle" id="title_skin-purple-light">Purple Light</p>
                                      </div>
                                      <div class="col-sm-3 themeSelectionButton" onclick="changePersonalisationTheme('skin-red')">
                                        <tag class="themeRedDark"></tag>
                                        <p class="themeSelectionTitle" id="title_skin-red">Red Dark</p>
                                      </div>
                                      <div class="col-sm-3 themeSelectionButton" onclick="changePersonalisationTheme('skin-red-light')">
                                        <tag class="themeRedLight"></tag>
                                        <p class="themeSelectionTitle" id="title_skin-red-light">Red Light</p>
                                      </div>
                                   </div>
                                   <div class="row" style="height: 80px; overflow: hidden">
                                      <div class="col-sm-3 themeSelectionButton" onclick="changePersonalisationTheme('skin-yellow')">
                                        <tag class="themeYellowDark"></tag>
                                        <p class="themeSelectionTitle" id="title_skin-yellow">Yellow Dark</p>
                                      </div>
                                      <div class="col-sm-3 themeSelectionButton" onclick="changePersonalisationTheme('skin-yellow-light')">
                                        <tag class="themeYellowLight"></tag>
                                        <p class="themeSelectionTitle" id="title_skin-yellow-light">Yellow Light</p>
                                      </div>
                                   </div>                                   

                                </div>
                            </td>
                          </tr>

                          <tr>
                            <td style="vertical-align: middle; font-weight: bold;">Display Menu Images</td>
                            <td style="padding-top:10px">
                                <div class="form-group">
                                   <select onchange="changePersonalisationImage()" id="personalisationEditImage" class="form-control" style="width:100%;">
                                      <option value="NO">No</option>
                                      <option value="YES">Yes</option>
                                   </select>
                                </div>
                            </td>
                          </tr>

                          <tr>
                            <td style="vertical-align: middle; font-weight: bold;">Show Virtual Keyboard</td>
                            <td style="padding-top:10px;">
                                <div class="form-group">
                                   <select onchange="changePersonalisationKeyboard()" id="personalisationEditKeyboard" class="form-control" style="width:100%;">
                                      <option value="0">Never</option>
                                      <option value="1">When Input Prompted</option>
                                      <option value="2">Always</option>
                                   </select>
                                </div>
                            </td>
                          </tr>  


                          <tr>
                            <td style="vertical-align: middle; font-weight: bold;">Idle Screen Options</td>
                            <td style="padding-top:10px">
                                <div class="form-group">
                                   <select onchange="changePersonalisationLock()" id="personalisationInactiveScreen" class="form-control" style="width:100%;">
                                      <option value="NONE">Do Nothing</option>
                                      <option value="SCREENSAVER">Show Screen Saver</option>
                                      <option value="LOCKSCREEN">Lock Screen</option>
                                   </select>
                                </div>
                            </td>
                          </tr>


                          <tr id="personalisationInactiveScreen_TimeOptions" style="display: none">
                            <td style="width: 40%; vertical-align: middle; font-weight: bold;">Idle Screen After</td>
                            <td style="padding-top:10px; width: 60%">
                                <div class="form-group">
                                   <select onchange="changePersonalisationIdleDuration()" id="personalisationIdleDuration" class="form-control" style="width:100%;">
                                      <option value="30">30 Seconds</option>
                                      <option value="60">1 Minute</option>
                                      <option value="120">2 Minutes</option>
                                      <option value="300">5 Minutes</option>
                                      <option value="600">10 Minutes</option>
                                      <option value="900">15 Minutes</option>
                                      <option value="1800">30 Minutes</option>
                                      <option value="2700">45 Minutes</option>
                                      <option value="3600">1 Hour</option>
                                   </select>
                                </div>
                            </td>
                          </tr>


                        </table>  

                        <div class="clearfix"></div>
                    </div>
                </div>


                <!-- Keyboard Shortcuts -->
                <div class="box box-primary" style="display: none" id="keyboardShortcuts">
                    <div class="box-body">
                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Keyboard Shortcuts</h3>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                               <div class="well well-sm">
                                  <p>Please set your shortcuts as you like, you can use F1 - F2 or any other key combinations with Crtl, Alt and Shift.</p>
                                  <div class="col-md-4 col-sm-4">
                                     <div class="form-group">
                                        <label for="focus_add_item">Focus add/search item input</label> <input type="text" name="focus_add_item" value="ALT+F1" class="form-control tip" id="focus_add_item">
                                     </div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                     <div class="form-group">
                                        <label for="add_customer">Add Customer</label> <input type="text" name="add_customer" value="ALT+F2" class="form-control tip" id="add_customer">
                                     </div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                     <div class="form-group">
                                        <label for="toggle_category_slider">Toggle Category Slider</label> <input type="text" name="toggle_category_slider" value="ALT+F10" class="form-control tip" id="toggle_category_slider">
                                     </div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                     <div class="form-group">
                                        <label for="cancel_sale">Cancel Sale</label> <input type="text" name="cancel_sale" value="ALT+F5" class="form-control tip" id="cancel_sale">
                                     </div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                     <div class="form-group">
                                        <label for="suspend_sale">Suspend Sale</label> <input type="text" name="suspend_sale" value="ALT+F6" class="form-control tip" id="suspend_sale">
                                     </div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                     <div class="form-group">
                                        <label for="print_order">Print Order</label> <input type="text" name="print_order" value="ALT+F11" class="form-control tip" id="print_order">
                                     </div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                     <div class="form-group">
                                        <label for="print_bill">Print Bill</label> <input type="text" name="print_bill" value="ALT+F12" class="form-control tip" id="print_bill">
                                     </div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                     <div class="form-group">
                                        <label for="finalize_sale">Finalize Sale</label> <input type="text" name="finalize_sale" value="ALT+F8" class="form-control tip" id="finalize_sale">
                                     </div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                     <div class="form-group">
                                        <label for="today_sale">Today's Sale</label> <input type="text" name="today_sale" value="Ctrl+F1" class="form-control tip" id="today_sale">
                                     </div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                     <div class="form-group">
                                        <label for="open_hold_bills">Opened Bills</label> <input type="text" name="open_hold_bills" value="Ctrl+F2" class="form-control tip" id="open_hold_bills">
                                     </div>
                                  </div>
                                  <div class="col-md-4 col-sm-4">
                                     <div class="form-group">
                                        <label for="close_register">Close Register</label> <input type="text" name="close_register" value="ALT+F7" class="form-control tip" id="close_register">
                                     </div>
                                  </div>
                                  <div class="clearfix"></div>
                               </div>
                            </div>
                         </div>



                        <div class="clearfix"></div>
                    </div>
                </div>


            </div>





            <div class="col-xs-4" id="detailsNewOtherSettings">
                
              


                <!-- Saved Comments : Actions -->
                <div style="display: none" id="newSavedCommentArea">
                     <div class="box box-primary">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 10px; font-size: 21px;">Add New Comment</h3>
                           </div>
                           <div class="col-lg-12">
                              <form>
                                 <div class="form-group">

                                    <input type="text" value="" class="form-control tip" id="add_new_savedComment" style="border: none; border-bottom: 1px solid" placeholder="Enter a Comment" required="required" />
                                 </div>                                 

                          

                                 <div class="form-group">
                                    <input style="float: right" onclick="addNewComment()" value="Save Comment" class="btn btn-primary" />

                                    <button type="button" class="btn btn-default" onclick="hideNewSavedComment()" >Cancel</button>


                                 </div>
                              </form>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                    </div>
                </div>


                <!-- Dine Sessions : Actions -->
                <div style="display: none" id="newDineSessionArea">
                     <div class="box box-primary">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 10px; font-size: 21px;">Add Dine Session</h3>
                           </div>
                           <div class="col-lg-12">

                                 <div class="form-group">
                                    <label for="first_name">Session Name</label> <input type="text" value="" class="form-control tip" id="add_new_dineSession_name" required="required" />
                                 </div>   

                          </div>
                           <div class="col-lg-6">
                                 <div class="form-group">
                                    <label for="first_name">Time From</label> <input type="time" value="" class="form-control tip" id="add_new_dineSession_from" required="required" />
                                 </div>
                          </div>
                          <div class="col-lg-6">
                                 <div class="form-group">
                                    <label for="first_name">Time To</label> <input type="time" value="" class="form-control tip" id="add_new_dineSession_to" required="required" />
                                 </div>  
                          </div>
                          <div class="col-lg-12">
                                 

                                 <div class="form-group">
                                    <input style="float: right" onclick="addDineSession()" value="Add Session" class="btn btn-primary" />

                                    <button type="button" class="btn btn-default" onclick="hideNewDineSession()" >Cancel</button>


                                 </div>
                            
                           </div>
                           <div class="clearfix"></div>
                        </div>
                    </div>
                </div>



                  </div>
               </div>


        
        </div>





      <!-- Modal -->
      <div id="settingsDeleteConfirmation" class="modal">
         <div class="modal-dialog" style="top: 20%">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body" style="max-height: 420px; overflow: scroll; padding: 30px 15px">
                <p style="font-size: 16px; margin: 0; color: #e74c3c;" id="settingsDeleteConfirmationText"></P>
               </div>
               <div class="modal-footer" id="settingsDeleteConfirmationConsent">
               </div>
            </div>
         </div>
      </div>



</template>