<template class="task-template">

        <div class="row">
            <div class="col-xs-4">
                <div class="box box-primary">

                    <div class="box-body">
                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Table Sections</h3>
                           <button class="btn btn-success btn-sm" style="float: right" onclick="openNewTableSectionModal()" id="openNewTableSectionButton">Add Section</button>
                        </div>

                        <div class="table-responsive">
                            <table id="allTableSectionList" class="table" style="margin: 0">
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">



                <div class="box box-primary">

                    <div class="box-body">
                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Tables</h3>
                           <button class="btn btn-success btn-sm" style="float: right" onclick="openNewTableModal()" id="openNewTableButton">Add Table</button>
                        </div>

                        <div class="table-responsive">
                            <table id="allTablesList" class="table">
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>



      <!-- Modal -->
      <div id="tableDeleteConfirmation" class="modal">
         <div class="modal-dialog" style="top: 20%">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body" style="max-height: 420px; overflow: scroll; padding: 30px 15px">
                <p style="font-size: 16px; margin: 0; color: #e74c3c;" id="tableDeleteConfirmationText"></P>
               </div>
               <div class="modal-footer" id="tableDeleteConfirmationConsent">
               </div>
            </div>
         </div>
      </div>

      <!-- Modal -->
      <div id="newTableSectionModal" class="modal">
         <div class="modal-dialog" style="top: 20%">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" onclick="hideNewTableSectionModal()" style="float: right;" class="btn clearButton">X</button>
                  <h4 class="modal-title">New Table Section</h4>
               </div>
               <div class="modal-body" style="max-height: 420px; overflow: scroll">
                  <form>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="form-group">
                              <input type="text" name="category_name" value="" placeholder="Enter Section Name" style="border: none; border-bottom: 1px solid" class="form-control tip" id="add_new_tableSection_name" required="required" />
                           </div>
                        </div>
                     </div>
                     
                  </form>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" onclick="hideNewTableSectionModal()" style="float: left">Cancel</button>
                  <button type="button" class="btn btn-success" onclick="addNewTableSection()">Add</button>
               </div>
            </div>
         </div>
      </div>


      <!-- Modal -->
      <div id="newTableModal" class="modal">
         <div class="modal-dialog" style="top: 20%">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" onclick="hideNewTableModal()" style="float: right;" class="btn clearButton">X</button>
                  <h4 class="modal-title">Add New Table</h4>
               </div>
               <div class="modal-body" style="max-height: 420px; overflow: scroll">
                  <form>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="form-group">
                              <label for="new_item_name">Table Name</label> <input type="text" value="" class="form-control tip" id="add_new_table_name" placeholder="Enter Table Name" required="required" />
                           </div>
                        </div>                      
                     </div>
                     <div class="row">
                        <div class="col-lg-8">
                           <div class="form-group">
                              <label for="new_item_name">Table Section</label> 
                                    <select name="group" id="add_new_table_type" class="form-control input-tip select2" style="width:100%;">

                                    </select>
                           </div>
                        </div>
                        <div class="col-lg-4">
                           <div class="form-group">
                              <label for="new_item_price">Capacity</label> <input type="number" value="4" class="form-control tip" id="add_new_table_capacity" required="required" />
                           </div>
                        </div>                        
                     </div>                     
                  </form>  
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" onclick="hideNewTableModal()" style="float: left">Cancel</button>
                  <button type="button" class="btn btn-success" onclick="addNewTable()">Add</button>
               </div>
            </div>
         </div>
      </div>
</template>