<template class="task-template">

               <div class="row">
                  <div class="col-xs-8">
                     <div class="box box-primary">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Registered Users</h3>
                              <button class="btn btn-success btn-sm" id="openNewUserButton" onclick="openNewUser()" style="float: right">New User</button>
                           </div>
                           <div class="table-responsive">
                              <table id="StData" class="table">
                                 <thead style="background: #f4f4f4;">
                                    <tr>
                                       <th style="text-align: left">ID</th>
                                       <th style="text-align: left">Name</th>
                                       <th style="text-align: left">Role</th>
                                       <th style="text-align: left">Phone</th>
                                       <th style="text-align: left">Actions</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr role="row" class="odd">
                                       <td>#1</td>
                                       <td>Anas Jafry</td>
                                       <td>Admin</td>
                                       <td>9884179675</td>
                                       <td onclick="openEditUserModal()">
                                          <i class="fa fa-edit"></i>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
                  

                  <div class="col-xs-4" style="display: none" id="newUserArea">
                     <div class="box box-primary">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;">Add New User</h3>
                           </div>
                           <div class="col-lg-12">
                              <form action="" method="post" accept-charset="utf-8">
                                 <div class="form-group">
                                    <label for="group">Group</label> 
                                    <select name="group" id="group" data-placeholder="Select Group" class="form-control input-tip select2" style="width:100%;">
                                       <option value="" selected="selected"></option>
                                       <option value="1">admin</option>
                                       <option value="2">staff</option>
                                    </select>
                                 </div>
                                 <div class="form-group">
                                    <label for="first_name">First Name</label> <input type="text" name="first_name" value="" class="form-control tip" id="first_name" required="required" />
                                 </div>
                                 <div class="form-group">
                                    <label for="phone">Phone</label> <input type="text" name="phone" value="" class="form-control tip" id="phone" required="required" />
                                 </div>
                                 <div class="form-group">
                                    <input type="submit" style="float: right" name="add_user" value="Add User" class="btn btn-primary" />

                                    <button type="button" class="btn btn-default" onclick="hideNewUser()" >Cancel</button>


                                 </div>
                              </form>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
               </div>

      <!-- Modal -->
      <div id="newUserModal" class="modal">
         <div class="modal-dialog" style="top: 20%">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" onclick="closeEditUserModal()" style="float: right;" class="btn clearButton">X</button>
                  <h4 class="modal-title">Edit User</h4>
               </div>
               <div class="modal-body" style="max-height: 420px; overflow: scroll">
                  <form action="" method="post" accept-charset="utf-8">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="form-group">
                              <label for="first_name">First Name</label> <input type="text" name="first_name" value="" class="form-control tip" id="first_name" required="required" />
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group">
                              <label for="group">Group</label> 
                              <select name="group" id="group" data-placeholder="Select Group" class="form-control input-tip select2" style="width:100%;">
                                 <option value="ADMIN">admin</option>
                                 <option value="STAFF" selected="selected">staff</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="form-group">
                              <label for="phone">Phone</label> <input type="text" name="phone" value="" class="form-control tip" id="phone" required="required" />
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-lg-6">
                           <div class="form-group">
                              <label for="password">Password</label> <input type="password" name="password" value="" class="form-control tip" id="password" required="required" />
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="form-group">
                              <label for="confirm_password">Confirm Password</label> <input type="password" name="confirm_password" value="" class="form-control tip" id="confirm_password" required="required" />
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" onclick="closeEditUserModal()" style="float: left">Cancel</button>
                  <button type="button" class="btn btn-success">Save</button>
               </div>
            </div>
         </div>
      </div>

   </template>
      